/**
 * App
       d8888
      d88888
     d88P888
    d88P 88888888b. 88888b.
   d88P  888888 "88b888 "88b
  d88P   888888  888888  888
 d8888888888888 d88P888 d88P
d88P     88888888P" 88888P"
            888     888
            888     888
            888     888
**/
html,
body {
	height: 100%;
	overflow: hidden;
}

hr {
	border: 1px solid white;
}

textarea {
	max-width: 100%;
}

.fill-width {
	width: 100%;
}

a[ng-click],
a[confirm-click],
a[data-target] {
	cursor: pointer;
}

.truncated {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.unavailable p {
	color: #ccc;
}
.unavailable a {
	color: #ddd;
}

.input-group-extra {
	display: table-cell;
	line-height: 1;
	font-size: 20px;
	vertical-align: middle;
	padding: 0 6px;
}

.editable-text {
	position: relative;
}

	.editable-text label {
		display: block;
		margin: 0;
	}

	.editable-text span.glyphicon {
		position: absolute;
		left: 0;
		top: 0.5em;
	}

	.editable-text p {
		padding-left: 1.25em;
		margin: 0;
	}

		.editable-text input {
			border: none;
			background: transparent;
		}

			.editable-text:hover input {
				background: rgba(255, 255, 255, 0.15);
			}

			.editable-text input:focus {
				background: #fff;
				color: #666;
				outline: 0;
			}

.wrap {
	position: relative;
	height: 100%;
	width: 100%;
	clear: both;
	display: table;
}

	.wrap.top_open .scroll_fix {
		height: 300px;
	}

.wrapInner {
	height: 100%;
	background: #111;
	display: table-row;
}

.scrollable {
	overflow-y: auto;
	height: 100%;
}

.row-gutter-1x {
	margin-top: 20px;
}

a.icon-inline {
	display: inline-block;
	margin-left: 1em;
}

.icon-subtle {
	color: rgba(0, 0, 0, 0.2);
}

.icon-subtler {
	color: rgba(0, 0, 0, 0.1);
}

	.icon-subtle a:hover,
	a.icon-subtle:hover,
	.icon-subtler a:hover,
	a.icon-subtler:hover {
		color: #428bca;
	}

.theme-inverse {
	background: #333;
	color: #bbb;
}

	.theme-inverse :not(.theme-inverse-exclude) a {
		color: #fff;
	}

	.theme-inverse .dropdown-menu {
		background: #666;
	}

.theme-alt {
	background: #aaa;
}

	.theme-alt .quip {
		color: #aaa;
	}

.list-icon-menu li {
	margin: 0.5em 0;
}

	.list-icon-menu.list-inline li {
		margin-right: 0.5em;
	}

var,
.var {
	font-family: monospace;
	font-style: normal;
}

.btn-terrible {background-color: #ff8484;}
.btn-terrible:hover {background-color: #ff3a3a;}
.btn-terrible.active {color: #fff; background-color: #cf1111; cursor: default;}
.btn-bad {background-color: #ffce84;}
.btn-bad:hover {background-color: #ffb03a;}
.btn-bad.active {color: #fff; background-color: #cf8311; cursor: default;}
.btn-neutral.active {color: #000; background-color: #fff; cursor: default;}
.btn-good {background-color: #84e6ff;}
.btn-good:hover {background-color: #00ccff;}
.btn-good.active {color: #fff; background-color: #11a8cf; cursor: default;}
.btn-great {background-color: #84e684;}
.btn-great:hover {background-color: #3ad83a;}
.btn-great.active {color: #fff; background-color: #0ea60e; cursor: default;}




/**
 * Modal
888b     d888             888        888
8888b   d8888             888        888
88888b.d88888             888        888
888Y88888P888 .d88b.  .d88888 8888b. 888
888 Y888P 888d88""88bd88" 888    "88b888
888  Y8P  888888  888888  888.d888888888
888   "   888Y88..88PY88b 888888  888888
888       888 "Y88P"  "Y88888"Y888888888
**/

.modal-dialog.modal-sm {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 500px;
	height: 300px;
}

.modal-content {
	border-radius: 0;
	padding: 20px;
}

#confirmModal {

}




/**
 * Panes
8888888b.
888   Y88b
888    888
888   d88P 8888b. 88888b.  .d88b. .d8888b
8888888P"     "88b888 "88bd8P  Y8b88K
888       .d888888888  88888888888"Y8888b.
888       888  888888  888Y8b.         X88
888       "Y888888888  888 "Y8888  88888P'
**/
.pane {
	position: relative;
	z-index: 2;
	-webkit-transition-duration: 700ms;
}

	.paneToggle label {
		color: #428bca;
		cursor: pointer;
		-webkit-transform: rotate(0deg);
		-webkit-transition-duration: 500ms;
	}

		.paneToggle label:hover {
			color:#2a6496
		}

			.paneToggleCheckbox:checked + * .paneToggle label {
				-webkit-transform: rotate(180deg);
			}

	.paneTop {
		margin-top: -266px;
		height: 270px;
		padding: 20px 60px;
		padding-top: 70px;
	}

		.paneTop .paneToggle {
			position: absolute;
			left: 40px;
			bottom: -70px;
			font-size: 36px;
			padding: 20px 20px 0 20px;
		}

		.paneToggleCheckbox:checked + .paneTop {
			margin-top: 0;
		}

	.paneSplit {
		display: table-cell;
		height: 100%;
		position: relative;
	}

	.paneRight {
		width: 40px;
		-webkit-transition-duration: 500ms;
	}

		.paneToggleCheckbox:checked + * .paneRight,
		.picking .paneRight {
			width: 400px;
		}

		.paneRight .pane {
			height: 100%;
			width: 400px;
			position: absolute;
			left: 0;
			top: 0;
			padding: 40px;
		}

		.paneRight .paneToggle {
			position: absolute;
			left: 5px;
			top: 55px;
			font-size: 26px;
		}

			.picking .paneRight .paneToggle {
				display: none;
			}


.paneStoryEdit {

}

.topBar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	padding: 10px 60px;
	background: #111;
}

.topBar .dropdown-toggle {
	background: none;
	color: white;
	padding: 0;
}

.panePassages .list-passages {
}

	.panePassages .list-passages li {
		margin: 1em 0;
	}

		.panePassages .list-passages li a .badge {
			background: #428bca;
			color: #eee;
		}

		.panePassages .scrollable {
			margin-top: 2em;
			height: calc(100% - 130px);
		}

	.panePassages .pickingMessage {
		display: none;
		position: absolute;
		left: -100%;
		top: 160px;
		width: 100%;
		padding-right: 40px;
		text-align: right;
		color: #fff;
	}
		.picking .panePassages .pickingMessage {
			display: block;
		}

		.panePassages .pickingMessage a {
			color: #f88;
		}

			.panePassages .pickingMessage a:hover {
				color: #d66;
			}



/**
 * Stories
 .d8888b. 888                  d8b
d88P  Y88b888                  Y8P
Y88b.     888
 "Y888b.  888888 .d88b. 888d888888 .d88b. .d8888b
    "Y88b.888   d88""88b888P"  888d8P  Y8b88K
      "888888   888  888888    88888888888"Y8888b.
Y88b  d88PY88b. Y88..88P888    888Y8b.         X88
 "Y8888P"  "Y888 "Y88P" 888    888 "Y8888  88888P'
**/
.menuTop {
	padding-top: 40px;
}

	.menuTop > ul {
		margin: 0;
		padding: 20px 60px;
	}

.storiesListMenu {
	padding-top: 20px;
}

.storiesList {
	padding-bottom: 200px;
}

	.storiesList li > div {
		position: relative;
		background: #ccc;
		padding: 10px;
		height: 325px;
		margin-top: 40px;
	}

	.storiesList h3 {
		margin-top: 0;
	}

	.storiesList p {
		margin-top: 1em;
	}

	.storiesList .list-icon-menu {
		position: absolute;
		left: 10px;
		bottom: 0;
	}


/**
 * Passage
8888888b.
888   Y88b
888    888
888   d88P 8888b. .d8888b .d8888b  8888b.  .d88b.  .d88b.
8888888P"     "88b88K     88K         "88bd88P"88bd8P  Y8b
888       .d888888"Y8888b."Y8888b..d888888888  88888888888
888       888  888     X88     X88888  888Y88b 888Y8b.
888       "Y888888 88888P' 88888P'"Y888888 "Y88888 "Y8888
                                               888
                                          Y8b d88P
                                           "Y88P"
**/
.scrollPassages {
	background: #ccc;
}

	.picking .scrollPassages:after {
		content: " ";
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.75);
	}

.passage-container {
	width: 80%;
	max-width: 750px;
	margin: 40px auto;
}

.passage-box {
	background: #eee;
	padding: 20px;
}

	.passage-box > div {
		margin-top: 40px;
	}

		.passage-box > div:first-child {
			margin-top: 0;
		}

	.passage-box .passageBody h2 {
		margin-top: 0;
	}

	.savePassage {
		float: right;
	}




/**
 * Entrances
8888888888        888
888               888
888               888
8888888   88888b. 888888888d888 8888b. 88888b.  .d8888b .d88b. .d8888b
888       888 "88b888   888P"      "88b888 "88bd88P"   d8P  Y8b88K
888       888  888888   888    .d888888888  888888     88888888"Y8888b.
888       888  888Y88b. 888    888  888888  888Y88b.   Y8b.         X88
8888888888888  888 "Y888888    "Y888888888  888 "Y8888P "Y8888  88888P'
**/
.passageBack,
.passageLink {
	display: inline-block;
	position: relative;
	background: #428bca;
	color: #eee;
	text-align: right;
	min-width: 4em;
	border: none;
	height: 2em;
	margin: 0 1em;
	padding: 0 5px;
	padding-right: 22px;
}

	.passageBack:before,
	.passageLink:before {
		content: " ";
		position: absolute;
		left: -0.95em;
		top: 0;
		border-right: 1em solid #428bca;
		border-top: 1em solid transparent;
		border-bottom: 1em solid transparent;
	}

	.passageLink {
		text-align: left;
	}

		.passageLink:before {
			left: auto;
			right: -0.95em;
			border-right: none;
			border-left: 1em solid #428bca;
		}

	.badge[data-choices] {
		position: relative;
		padding-right: 22px;
	}

	.badge[data-choices]:after,
	.passageBack:after,
	.passageLink:after {
		content: " ";
		position: absolute;
		right: 5px;
		top: 0;
		bottom: 0;
		margin: auto;
		width: 14px;
		height: 14px;
		background: url(../../img/icon-choices-14x14.png) 0 -14px no-repeat;
	}

		.badge[data-choices="a"]:after, .passageBack[data-choices="a"]:after,
		.passageLink[data-choices="a"]:after {background-position: 0 0;}
		.badge[data-choices="1"]:after, .passageBack[data-choices="1"]:after,
		.passageLink[data-choices="1"]:after {background-position: -14px -14px;}
		.badge[data-choices="2"]:after, .passageBack[data-choices="2"]:after,
		.passageLink[data-choices="2"]:after {background-position: -28px -14px;}
		.badge[data-choices="3"]:after, .passageBack[data-choices="3"]:after,
		.passageLink[data-choices="3"]:after {background-position: -42px -14px;}
		.badge[data-choices="4"]:after, .passageBack[data-choices="4"]:after,
		.passageLink[data-choices="4"]:after {background-position: -56px -14px;}
		.badge[data-choices="5"]:after, .passageBack[data-choices="5"]:after,
		.passageLink[data-choices="5"]:after {background-position: -70px -14px;}
		.badge[data-choices="6"]:after, .passageBack[data-choices="6"]:after,
		.passageLink[data-choices="6"]:after {background-position: -84px -14px;}
		.badge[data-choices="7"]:after, .passageBack[data-choices="7"]:after,
		.passageLink[data-choices="7"]:after {background-position: -98px -14px;}
		.badge[data-choices="8"]:after, .passageBack[data-choices="8"]:after,
		.passageLink[data-choices="8"]:after {background-position: -112px -14px;}
		.badge[data-choices="9"]:after, .passageBack[data-choices="9"]:after,
		.passageLink[data-choices="9"]:after {background-position: -126px -14px;}
		.badge[data-choices="10"]:after, .passageBack[data-choices="10"]:after,
		.passageLink[data-choices="10"]:after {background-position: -140px -14px;}

		.badge[data-ending="-2"]:after,
		.passageBack[data-ending="-2"]:after,
		.passageLink[data-ending="-2"]:after {background-color: #ff3a3a;}
		.badge[data-ending="-1"]:after,
		.passageBack[data-ending="-1"]:after,
		.passageLink[data-ending="-1"]:after {background-color: #ffb03a;}
		.badge[data-ending="0"]:after,
		.passageBack[data-ending="0"]:after,
		.passageLink[data-ending="0"]:after {background-color: #ccc;}
		.badge[data-ending="1"]:after,
		.passageBack[data-ending="1"]:after,
		.passageLink[data-ending="1"]:after {background-color: #00ccff;}
		.badge[data-ending="2"]:after,
		.passageBack[data-ending="2"]:after,
		.passageLink[data-ending="2"]:after {background-color: #3ad83a;}

.passageEntrances  {
	margin-top: 80px;
}

	.passageEntrances > ul > li {
		padding: 15px 10px;
		font-size: 90%;
		clear: left;
	}

		.passageEntrances > ul > li.lastActive {
			margin-left: -4em;
		}

			.passageEntrances > ul > li.lastActive .passageBack {
				min-width: 8em;
			}

		.passageEntrances > ul > li > a {
			display: block;
			line-height: 2em;
			text-decoration: none;
			overflow: hidden;
		}

		.passageEntrances > ul > li p {
			margin: 0;
			line-height: 1.5em;
		}

		.passageEntrances > ul > li .h4 {
			font-size: 125%;
		}

		.passageEntrances > ul > li div {
			float: left;
			width: 80%;
			background: #e4e4e4;
			height: 4em;
			padding: 4px 1em;
		}

		.passageEntrances .passageBack {
			height: 4em;
			float: left;
			line-height: 4em;
			margin-right: 0;
		}

			.passageEntrances .passageBack:before {
				border-top-width: 2em;
				border-bottom-width: 2em;
			}




/**
 * Exits
8888888888        d8b888
888               Y8P888
888                  888
8888888   888  888888888888.d8888b
888       `Y8bd8P'888888   88K
888         X88K  888888   "Y8888b.
888       .d8""8b.888Y88b.      X88
8888888888888  888888 "Y888 88888P'
**/

.exit-tabs {
	margin-bottom: -40px;
}

	.exit-tabs .nav-tabs a {
		background-color: #ddd;
		margin: 0 2px;
	}

		.exit-tabs .nav-tabs a:hover {
			text-decoration: underline;
			background-color: #eee;
		}

		.exit-tabs .nav-tabs .active a,
		.exit-tabs .nav-tabs .active a:hover {
			font-size: 125%;
			background-color: #eee;
			cursor: default;
			text-decoration: none;
			border-bottom-color: #eee;
		}

.passageExits {
}

.exit-tabs .nav-tabs.ending-terrible li.active a {background-color: #f1dddd; border-bottom-color: #f1dddd;}
.exit-tabs .nav-tabs.ending-bad li.active a {background-color: #f1e9dd; border-bottom-color: #f1e9dd;}
.exit-tabs .nav-tabs.ending-good li.active a {background-color: #ddedf1; border-bottom-color: #ddedf1;}
.exit-tabs .nav-tabs.ending-great li.active a {background-color: #ddf1dd; border-bottom-color: #ddf1dd;}

.passage-box.ending-terrible {background-color: #f1dddd;}
.passage-box.ending-bad {background-color: #f1e9dd;}
.passage-box.ending-good {background-color: #ddedf1;}
.passage-box.ending-great {background-color: #ddf1dd;}

/*.passage-box.ending-terrible {background-color: #f1dddd; outline: 2px solid #ff8484;}
.passage-box.ending-bad {background-color: #f1e9dd; outline: 2px solid #ffce84;}
.passage-box.ending-good {background-color: #ddedf1; outline: 2px solid #84e6ff;}
.passage-box.ending-great {background-color: #ddf1dd; outline: 2px solid #84e684;}*/

.passageEnding .btn {
	font-size: 100%;
}

	.passageEnding .btn.active {
		font-size: 175%;
	}





/**
 * Choices
 .d8888b. 888             d8b
d88P  Y88b888             Y8P
888    888888
888       88888b.  .d88b. 888 .d8888b .d88b. .d8888b
888       888 "88bd88""88b888d88P"   d8P  Y8b88K
888    888888  888888  888888888     88888888"Y8888b.
Y88b  d88P888  888Y88..88P888Y88b.   Y8b.         X88
 "Y8888P" 888  888 "Y88P" 888 "Y8888P "Y8888  88888P'
**/
.tab-pane {
	margin-top: 20px;
}

.choiceContainer {
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

	.choiceContainer:first-child {
		border-top: 1px solid #ccc;
	}

	.choiceUtil {
		/*color: #ddd;*/
		line-height: 60px;
		text-align: right;
	}

		.choiceUtil a {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			height: 1.5em;
			margin: auto 0;
		}

		.choiceUtil .choiceNumber {
			font-size: 70px;
		}

		.choiceLogic {
			height: 100%;
		}

			.choiceLogic a {
				position: relative;
				display: block;
				height: 35px;
				line-height: 35px;
			}

				.choiceLogic a.active {
					color: #111;
				}

			.choiceLogic .badge {
				position: absolute;
				right: -10px;
				top: 0;
				background: #a3866b;
			}

.passageChoices input {
	width: 100%;
}

.choicePassage,
.choicePassageMenu {
	text-align: right;
	line-height: 2em;
}

	.choicePassageMenu a {
		margin-left: 2em;
	}

.choicePassage {
}

	.choicePassage a {
		display: inline-block;
	}

		.choicePassage a.truncated {
			max-width: 70%;
			text-align: left;
			line-height: 1em;
		}

	.choicePassageUnlink {
		margin-right: 1em;
	}




/**
 * Display Conds
8888888b. d8b                888                    .d8888b.                      888
888  "Y88bY8P                888                   d88P  Y88b                     888
888    888                   888                   888    888                     888
888    888888.d8888b 88888b. 888 8888b. 888  888   888        .d88b. 88888b.  .d88888.d8888b
888    88888888K     888 "88b888    "88b888  888   888       d88""88b888 "88bd88" 88888K
888    888888"Y8888b.888  888888.d888888888  888   888    888888  888888  888888  888"Y8888b.
888  .d88P888     X88888 d88P888888  888Y88b 888   Y88b  d88PY88..88P888  888Y88b 888     X88
8888888P" 888 88888P'88888P" 888"Y888888 "Y88888    "Y8888P"  "Y88P" 888  888 "Y88888 88888P'
                     888                     888
                     888                Y8b d88P
                     888                 "Y88P"
**/
.choiceDisplayConditions {
	-webkit-transition: all 0.5s linear;
	position: relative;
	margin-top: -105px;
	opacity: 0;
	padding: 20px;
	margin-bottom: 20px;
	margin-left: 60px;
	background: #9a9;
	color: rgba(0, 0, 0, 0.4);
}

	.choiceDisplayConditions.active {
		margin-top: 0;
		opacity: 1;
	}

	.choiceDisplayConditions .quip {
		position: absolute;
		right: 18px;
		bottom: -25px;
		font-size: 36px;
		margin: 0;
		z-index: 1;
		color: #9a9;
	}

	.choiceDisplayConditions > div {
		position: relative;
		z-index: 2;
	}

	.choiceDisplayConditions.dcCollapsedSet {
		background: #cdc;
		padding: 5px 20px;
	}

		.choiceDisplayConditions.dcCollapsedSet p {
			margin: 0;
		}

		.choiceDisplayConditions.dcCollapsedSet .quip {
			color: #cdc;
		}




/**
 * Story Updates
 .d8888b. 888                             888     888             888        888
d88P  Y88b888                             888     888             888        888
Y88b.     888                             888     888             888        888
 "Y888b.  888888 .d88b. 888d888888  888   888     88888888b.  .d88888 8888b. 888888 .d88b. .d8888b
    "Y88b.888   d88""88b888P"  888  888   888     888888 "88bd88" 888    "88b888   d8P  Y8b88K
      "888888   888  888888    888  888   888     888888  888888  888.d888888888   88888888"Y8888b.
Y88b  d88PY88b. Y88..88P888    Y88b 888   Y88b. .d88P888 d88PY88b 888888  888Y88b. Y8b.         X88
 "Y8888P"  "Y888 "Y88P" 888     "Y88888    "Y88888P" 88888P"  "Y88888"Y888888 "Y888 "Y8888  88888P'
                                    888              888
                               Y8b d88P              888
                                "Y88P"               888
**/
.choiceStoryUpdates {
	-webkit-transition: all 0.5s linear;
	opacity: 0;
	clear: both;
	position: relative;
	padding: 20px;
	margin-bottom: -220px;
	margin-left: 60px;
	top: 10px;
	background: #d3c6bb;
	color: rgba(0, 0, 0, 0.4);
}

	.choiceStoryUpdates.active {
		opacity: 1;
		margin-bottom: 20px;
	}

	.choiceStoryUpdates .quip {
		position: absolute;
		right: 18px;
		top: -15px;
		font-size: 36px;
		margin: 0;
		color: #d3c6bb;
	}

/**
 _____    ______       ____     _________    _____   _____        _____    _____
(  __ \  (   __ \     / __ \   (_   _____)  (_   _) (_   _)      / ___/   / ____\
 ) )_) )  ) (__) )   / /  \ \    ) (___       | |     | |       ( (__    ( (___
(  ___/  (    __/   ( ()  () )  (   ___)      | |     | |        ) __)    \___ \
 ) )      ) \ \  _  ( ()  () )   ) (          | |     | |   __  ( (           ) )
( (      ( ( \ \_))  \ \__/ /   (   )        _| |__ __| |___) )  \ \___   ___/ /
/__\      )_) \__/    \____/     \_/        /_____( \________/    \____\ /____/

**/
.profilesList {
	padding-top: 50px
	padding-bottom: 200px;
}

	.profileCard {
		position: relative;
		background: #ccc;
		padding: 10px;
		height: 280px;
		margin-top: 40px;
		cursor: pointer;
	}

	.profileCard.active {
		background: #5cb85c;
	}

	.profileCard:hover {
		background: #2E9D2E;
	}


/*
  _____
 |  ___|__  _ __ _ __ ___  ___
 | |_ / _ \| '__| '_ ` _ \/ __|
 |  _| (_) | |  | | | | | \__ \
 |_|  \___/|_|  |_| |_| |_|___/

*/
button[disabled] {
	color: gray;
}


/**
 * Animations
 **/
.fade-animation
{
	-webkit-transition: all linear 0.5s;
	transition: all linear 0.5s;
}
.fade-animation.ng-move-stagger,
.fade-animation.ng-enter-stagger,
.fade-animation.ng-leave-stagger
{
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transition-duration: 0;
	transition-duration: 0;
}

.fade-animation.ng-move,
.fade-animation.ng-leave.ng-leave-active,
.fade-animation.ng-enter
{
	opacity: 0;
}
.fade-animation.ng-move.ng-move-active,
.fade-animation.ng-leave,
.fade-animation.ng-enter.ng-enter-active
{
	opacity: 1;
}




/* Jerry put this here. He doesn't know what he's doing! */


.animate-switch-container {
	position:relative;
	height:250px;
	overflow:hidden;
}

.animate-switch {
	padding:10px;
}

.animate-switch.ng-animate {
	-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
	transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.animate-switch.ng-enter {
    top: -100%;
}
.animate-switch.ng-enter.ng-enter-active {
    top: 0;
}

.animate-switch.ng-leave {
    top: 0;
}
.animate-switch.ng-leave.ng-leave-active{
    top: 100%;
}

/*.animate-switch-container {
	position:relative;
	height:200px;
	overflow:hidden;
}

.animate-switch.ng-leave,
.animate-switch.ng-enter
{
    -webkit-transition: 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    transition: 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000) all;
    position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.animate-switch.ng-enter {
    left: 100%;
}
.animate-switch.ng-enter.ng-enter-active {
    left: 0;
}

.animate-switch.ng-leave {
    left: 0;
}
.animate-switch.ng-leave.ng-leave-active{
    left: -100%;
}*/
