<!DOCTYPE html>
<html ng-app="storyApp" ng-csp>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/file.js"></script>
<script src="js/storage.js"></script>
<script src="js/models.js"></script>
<script src="js/story.controller.js"></script>
<script src="js/filters.js"></script>
<!-- Add new classes above. -->
<script src="js/app.js"></script>
<script src="js/directives.js"></script>

<link rel="stylesheet" href="css/angular-csp.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="css/app-ui.css" />

</head>
<body ng-controller="StoryCtrl">

<ng-include src="'templates/stories.html'" ng-if="view == 'stories'"></ng-include>

<ng-include src="'templates/passage.html'" ng-if="view == 'passage'"></ng-include>

<ng-include src="'templates/playback.html'" ng-if="view == 'playback'"></ng-include>

<ng-include src="'templates/modals.html'"></ng-include>

</body>
</html>
