<!DOCTYPE html>
<html ng-app="storyApp" ng-csp>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/ui-bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/storage.js"></script>
<script src="js/models.js"></script>
<script src="js/app.js"></script>

<link rel="stylesheet" href="css/angular-csp.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/app.css">

</head>
<body ng-controller="StoryCtrl">
	<nav class="slider">
		<ul class="nav nav-pills nav-stacked">
			<li class="nav-heading"><span class="glyphicon glyphicon-list"></span> Stories</li>
			<li><a ng-click="new_story()" href="#new"><span class="glyphicon glyphicon-plus-sign"></span> New Story</a></li>
			<li><a ng-click="import_story()" href="#import"><span class="glyphicon glyphicon-upload"></span> Import Story</a></li>
			<li class="dropdown" ng-show="stories">
				<a href="#open" id="open-stories" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-floppy-open"></span> Open Story</a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="open-stories">
					<li ng-repeat="s in stories">
						<a href="#edit-{{s.id}}" ng-click="select_story(s)">
							<span class="glyphicon glyphicon-book"></span>
							{{s.title}}
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<div ng-show="story" class="sidebar slider ng-class:{open: picking}">
		<div class="input-group">
			<span ng-show="picking" class="input-group-btn">
				<button class="btn btn-cancel" ng-click="pick_passage(null)"><span class="glyphicon glyphicon-remove"></span></button>
			</span>
			<input ng-model="passage_search" class="form-control" placeholder="Filter Passages" />
			<div class="input-group-btn">
				<button class="btn" ng-click="clear_passage_search()"><span class="glyphicon glyphicon-ban-circle"></span></button>
			</div>
		</div>
		<ul class="list-group">
			<li ng-repeat="passage in story.passages | filter:passage_search" class="list-group-item passage">
				<span class="truncated" title="{{passage.content}}">
					<a ng-click="edit_passage(passage.id)" href="#edit-{{passage.id}}">
						<span ng-show="picking" class="glyphicon glyphicon-hand-right"></span>
						<span ng-hide="picking" class="glyphicon glyphicon-edit"></span>
						{{passage.content}}
					</a>
				</span>
			</li>
		</ul>
	</div>
	<div ng-show="story" class="story">
		<form>
			<button class="btn btn-warning btn-lg" ng-click="delete_story(story)"><span class="glyphicon glyphicon-trash"></span></button>
			<input ng-model="story.title" placeholder="Untitled Story" class="editable large title" />

			<div>
				<h4>Entrances</h4>
				<ul class="list-group">
					<li ng-repeat="entrance in story.collect_entrances(passage)" class="truncated list-group-item"><a href="#edit-{{entrance.id}}" ng-click="edit_passage(entrance.id)">
						<span class="glyphicon glyphicon-arrow-left"></span>
						{{entrance.content}}
					</a></li>
				</ul>
				<div class="current_passage">
					<h4>Passage</h4>
					<textarea ng-model="passage.content" class="editable passage_{{passage.id}}" placeholder="Enter passage content"></textarea>

					<h4>Exits</h4>
					<ul class="choices list-group">
						<li ng-repeat="choice in passage.choices" class="list-group-item">
							<div class="input-group">
								<div class="input-group-btn">
									<button class="btn btn-warning" ng-click="delete_choice(passage, choice)"><span class="glyphicon glyphicon-trash"></span></button>
								</div> <!-- /input-group-btn -->
								<input type="text" ng-model="choice.content" class="form-control editable" placeholder="Enter choice content" />
								<div class="input-group-btn" ng-repeat="path in choice.paths">
									<span class="dropdown">
										<button class="btn dropdown-toggle" data-toggle="dropdown">Destination <span class="caret"></span></button>
										<ul class="dropdown-menu" id="option-list-{{path.id}}">
											<li ng-hide="choice.has_destination()"><a href="#new" ng-click="new_passage(choice)"><span class="glyphicon glyphicon-arrow-right"></span> link to new passage</a></li>
											<li><a href="#select" ng-click="pick_passage(choice)"><span class="glyphicon glyphicon-hand-right"></span> select a different passage</a></li>
											<li ng-show="choice.has_destination()"><a href="#go" ng-click="edit_passage(path.destination)"><span class="glyphicon glyphicon-share"></span> go to current passage</a></li>
										</ul>
									</span> <!-- /dropdown -->
								</div> <!-- /input-group-btn -->
							</div> <!-- /input-group -->
							<div ng-repeat="path in choice.paths">
								<a ng-show="path.destination" class="truncated text-right" ng-click="edit_passage(path.destination)" href="#edit-{{path.destination}}">
									<span class="pull-right glyphicon glyphicon-arrow-right"></span>
									{{get_passage(path.destination).content}} 
								</a>
							</div>
						</li>
					</ul>
					<button class="btn" ng-click="new_choice(passage)">
						<span class="glyphicon glyphicon-plus"></span>
						Add Choice
					</button>
				</div>
			</div>
		</form>
		<pre>{{json_story(story)}}</pre>
	</div>
</body>
</html>
