<input ng-model="$parent.vm.showStoryDetails" ng-change="$parent.$parent.vm.showPassages = false" class="sr-only paneToggleCheckbox" type="checkbox" id="paneTopToggle" />
<div class="pane paneTop theme-inverse paneStoryEdit">
	<!-- <div class="topBar">
		<p class="h5 pull-left"><a ng-click="vm.showStoriesMenu()"><span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-th"></span> Return to Stories Menu</a></p>
		<p class="h5 pull-right">
			<a ng-click="vm.location.path('/profiles')">
				<span class="glyphicon glyphicon-user"></span> {{vm.profiles.current.name}}
			</a>
		</p>
	</div> -->
	<ng-include src="'templates/topbar.view.html'"></ng-include>

	<div class="row">
		<div class="col-xs-6 h4">
			<div class="editable-text"><label><span class="glyphicon glyphicon-pencil"></span> <p><input ng-model="story.title" type="text" class="h2 fill-width" placeholder="Story Title" value="The Story About the Crystal Skull" /></p></label></div>

			<ul class="list-inline list-icon-menu">
				<li>
					<a ng-click="vm.playbackStory()" ng-hide="vm.playback"><span class="glyphicon glyphicon-play"></span> Play Story</a>
					<a ng-click="vm.editStory()" ng-show="vm.playback"><span class="glyphicon glyphicon-stop"></span> Edit Story</a>
				</li>
				<li ng-hide="vm.profiles.current.autosave">
					<a ng-disabled="vm.saveState == 'transfer'" ng-click="vm.saver.save(vm.story.id, vm.story)"><span class="glyphicon glyphicon-{{vm.saveState}}"></span> Save Changes</a>
				</li>
				<li>
					<span class="dropdown">
						<span class="dropdown">
							<a href="" data-toggle="dropdown" class="icon-subtle"><span class="glyphicon glyphicon-cloud-download"></span> Export</a>

							<ul class="dropdown-menu">
								<li ng-repeat="exporter in vm.exporters">
									<a ng-click="vm.exportStory(exporter.type)">{{exporter.exportMenuTitle}}</a>
								</li>
							</ul>
						</span>
					</span>
				</li>
			</ul>
		</div>

		<div class="col-xs-6 h4">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="input_author" class="col-sm-3 control-label">Author</label>
					<div class="col-sm-4">
						<input ng-model="vm.story.author" type="text" class="form-control" id="input_author" placeholder="Author" />
					</div>
					<label for="input_genre" class="col-sm-2 control-label">Genre</label>
					<div class="col-sm-3">
						<select ng-model="vm.story.genre" class="form-control" id="input_genre" ng-options="genre for genre in vm.genres" />
					</div>
				</div>
				<div class="form-group">
					<label for="input_credits" class="col-sm-3 control-label">Description</label>
					<div class="col-sm-9">
						<textarea ng-model="vm.story.description" class="form-control" rows="3" placeholder="Story Description"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<p class="paneToggle theme-inverse-exclude"><label for="paneTopToggle"><span class="glyphicon glyphicon-chevron-down"></span></label></p>
</div><!-- .paneTop -->
