<div class="passage-container exit-tabs">
	<ul class="nav nav-tabs nav-justified" ng-class="'ending-'+vm.passage.endingTypeName()">
		<li ng-class="{active: vm.passage.exitType == 'ending'}"><a ng-click="vm.confirmExitTypeChange(vm.passage, 'ending')">Set as Ending</a></li>
		<li ng-class="{active: vm.passage.exitType == 'append'}"><a ng-click="vm.confirmExitTypeChange(vm.passage, 'append')">Append a Passage</a></li>
		<li ng-class="{active: vm.passage.exitType == 'choices'}"><a ng-click="vm.confirmExitTypeChange(vm.passage, 'choices')">Add Choices</a></li>
	</ul>
</div>


<div class="passage-container passage-box" ng-class="'ending-'+vm.passage.endingTypeName()">
	<div class="passageExits">
		<div class="tab-content">
			<div class="tab-pane passageEnding" ng-class="{active: vm.passage.exitType == 'ending'}" id="passageEnding">
				<div class="btn-toolbar">
					<div ng-repeat="endValue in CDAM.Config.kEndingTags.values" class="choiceContainer fade-animation">
						<div class="btn-group btn-group-justified btn-group-lg">
							<a ng-click="vm.passage.setEnding($index)" class="btn btn-default btn-terrible" ng-class="{active: vm.passage.endingIndex === $index}">{{ CDAM.Config.kEndingTags.text[$index] }}</a>
						</div>
					</div>
				</div>
			</div><!-- .passageEnding -->


			<div class="tab-pane passageAppend" ng-class="{active: vm.passage.exitType == 'append'}" id="passageAppend">
				<p ng-if="!vm.passage.hasAppend()" class="h4 text-center"><a ng-click="vm.newPassage(vm.passage.appendLink)"><span class="glyphicon glyphicon-link"></span> New passage</a></p>
				<p ng-if="!vm.passage.hasAppend()" class="h4 text-center"><a ng-click="vm.pickPassage(vm.passage.appendLink)"><span class="glyphicon glyphicon-link"></span> Existing passage</a></p>

				<div ng-if="vm.passage.hasAppend()">
					<div ng-if="vm.passage.appendLink.destination" class="choicePassage">
						<a class="choicePassageUnlink icon-subtle" ng-click="vm.passage.appendLink.setDestination(null)"><span class="glyphicon glyphicon-remove-circle"></span></a>

						<a class="truncated" ng-click="vm.editPassage(vm.passage.appendLink.destination)">{{ vm.getPassage(vm.passage.appendLink.destination).getContent() | truncate | quote }}</a>

						<a ng-click="vm.editPassage(vm.passage.appendLink.destination)"><span class="passageLink" passage-icons="vm.getPassage(passage.appendLink.destination)">P{{ vm.getPassage(vm.passage.appendLink.destination).number }}</span></a>
					</div>
				</div>
			</div><!-- .passageAppend -->


			<!--
			 .d8888b. 888             d8b
			d88P  Y88b888             Y8P
			888    888888
			888       88888b.  .d88b. 888 .d8888b .d88b. .d8888b
			888       888 "88bd88""88b888d88P"   d8P  Y8b88K
			888    888888  888888  888888888     88888888"Y8888b.
			Y88b  d88P888  888Y88..88P888Y88b.   Y8b.         X88
			 "Y8888P" 888  888 "Y88P" 888 "Y8888P "Y8888  88888P'
			-->
			<div class="tab-pane passageChoices" ng-class="{active: vm.passage.exitType == 'choices'}" id="passageChoices">

				<!-- TODO: choices probably need a drag+drop handle for sortable behavior -->
				<div ng-repeat="choice in vm.passage.choices" class="choiceContainer fade-animation">
					<div class="choiceDisplayConditions" ng-class="{active: choice.showCondition}">
						<p><strong>Display choice if:</strong></p>

						<div class="row">
							<div class="col-xs-1 h4"><a class="icon-subtle" ng-click="vm.deleteChoiceCondition(choice)"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
							<div class="col-xs-4"><input type="text" class="form-control var" ng-model="choice.condition.variable" placeholder="Value" data-provider="typeahead" data-source='{{vm.variables}}' /></div>
							<div class="col-xs-3">
								<select class="form-control" ng-model="choice.condition.verb" ng-options="o.keyword as o.name for o in vm.operators.conditions">
									<option value="">---</option>
								</select>
							</div>
							<div class="col-xs-4"><input type="text" class="form-control var" ng-model="choice.condition.value" placeholder="Value" /></div>
						</div>

						<p class="quip"><span class="glyphicon glyphicon-arrow-down"></span></p>
					</div><!-- .choiceDisplayConditions -->

					<div class="col-xs-2 choiceUtil icon-subtler">
						<a class="h3" confirm-click="vm.deleteChoice(vm.passage, choice)" confirm-message="Delete choice?"><span class="glyphicon glyphicon-minus-sign"></span></a>
						<span class="choiceNumber">{{ $index + 1 }}</span>
					</div>

					<div class="col-xs-9">
						<p><input ng-model="choice.content" type="text" class="form-control" placeholder="Write your choice content here." value="" /></p>

						<!-- Neither of these can happen right now because there is a UI overlay blocking the user from clicking this... but they are still a good theorhetical questions: -->
								<!-- TODO: Potentially buggy scenario with picking mode... user has N unfinished choices, and they click "Existing Passage" for one of them, and then also clicks "Existing Passage" for a different one of them before making a selection for the first... -->
								<!-- TODO: what happens if you click "Existing Passage" and then immediately pick "New Passage"?? -->
						<p ng-if="!choice.hasDestination()" class="choicePassageMenu">
							<a ng-click="vm.newPassage(choice)"><span class="glyphicon glyphicon-plus"></span> New passage</a>
							<a ng-click="vm.pickPassage(choice)"><span class="glyphicon glyphicon-link"></span> Existing passage</a>
						</p>

						<p ng-if="choice.hasDestination()" class="choicePassageMenu">
							<a ng-click="vm.newPassage(choice)"><span class="glyphicon glyphicon-plus"></span> New passage</a>
							<a ng-click="vm.pickPassage(choice)"><span class="glyphicon glyphicon-link"></span> Change passage</a>
						</p>

						<div ng-if="choice.hasDestination()">
							<div ng-if="choice.destination" class="choicePassage">

								<a class="truncated" ng-click="vm.editPassage(choice.destination)">{{ vm.getPassage(choice.destination).getContent() | truncate | quote }}</a>

								<a ng-click="vm.editPassage(choice.destination)"><span class="passageLink" passage-icons="vm.getPassage(choice.destination)">P{{ vm.getPassage(choice.destination).number }}</span></a>
							</div>
						</div>
					</div>

					<div class="col-xs-1 choiceLogic h4">
						<a ng-click="choice.showCondition = !choice.showCondition" ng-class="{active: choice.showCondition}" class="choiceLogicCondition"><span class="glyphicon glyphicon-eye-open"></span></a>
						<a ng-click="choice.showUpdates = !choice.showUpdates" ng-class="{active: choice.showUpdates}" class="choiceLogicUpdates"><span class="glyphicon glyphicon-cog"></span></a>
					</div>

					<div class="choiceStoryUpdates" ng-class="{active: choice.showUpdates}">
						<p><strong>When choice selected, update story:</strong></p>

						<div class="row row-gutter-1x fade-animation" ng-repeat="update in choice.updates">
							<div class="col-xs-1 h4"><a ng-click="vm.deleteChoiceUpdate(choice, update);" class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
							<div class="col-xs-4"><input type="text" class="form-control var" ng-model="update.variable" placeholder="Variable" data-provider="typeahead" data-source='{{vm.variables}}' /></div>
							<div class="col-xs-3">
								<select class="form-control" ng-model="update.verb" ng-options="o.keyword as o.name for o in vm.operators.updates">
									<option value="">---</option>
								</select>
							</div>
							<div class="col-xs-4"><input type="text" class="form-control var" ng-model="update.value" placeholder="Value" /></div>
						</div>

						<div class="row row-gutter-1x">
							<div class="col-xs-12">
								<a ng-click="vm.addChoiceUpdate(choice)"><span class="glyphicon glyphicon-plus"></span> Add Another</a>
							</div>
						</div>

						<p class="quip"><span class="glyphicon glyphicon-arrow-up"></span></p>
					</div><!-- .choiceStoryUpdates -->
				</div>


				<p class="h3 row-gutter-1x"><a ng-click="vm.newChoice(vm.passage)"><span class="glyphicon glyphicon-plus-sign"></span> Add Choice</a></p>
			</div><!-- .passageChoices -->
		</div>
	</div><!-- .passageExits -->
</div><!-- .passage-box -->
