<div class="menuTop theme-inverse storyMenu">
	<div class="topBar">
		<p class="h5 pull-left"><a ng-click="vm.location.path('stories')"><span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-th"></span> Return to Stories Menu</a></p>
	</div>

	<ul class="list-inline list-icon-menu h4">
		<li><a ng-click="vm.newChoosatron()"><span class="glyphicon glyphicon-plus"></span> New Choosatron</a></li>
		<li><a ng-click="vm.loadChoosatrons()"><span class="glyphicon glyphicon-refresh"></span> Refresh List</a></li>
	</ul>
</div>

<div class="theme-alt wrap">
	<div class="scrollable">
		<div class="container choosatronList">
			<div ng-show="vm.message.content" class="alert alert-{{ vm.message.type }}">{{ vm.message.content }}</div>
			<ul class="list-unstyled list-choosatrons">
				<li ng-repeat="choosatron in vm.choosatrons" class="tile choosatronItem" ng-class="{connected: choosatron.connected}">
					<div class="front">
						<h2>{{choosatron.name}}</h2>
						<h3>{{choosatron.id}}</h3>
					</div>
					<div class="back">
						<div ng-show="choosatron.connected" class="form-inline">
							<div class="input-group">
								<span class="input-group-btn">
									<button ng-click="choosatron.editing = !choosatron.editing" class="btn btn-default">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
								</span>
								<input class="form-control" ng-show="choosatron.editing" ng-model="choosatron.newName" placeholder="Enter a new name" />
								<input class="form-control" ng-show="!choosatron.editing" disabled value="{{choosatron.name}}" />
							</div>
							<div ng-show="choosatron.editing" class="btn-group">
								<a class="btn btn-primary" ng-click="vm.rename(choosatron)">Rename</a>
								<a class="btn btn-link" ng-click="choosatron.newName = ''; choosatron.editing = false">Cancel</a>
							</div>
						</div>

						<div ng-show="!choosatron.connected">
							<h2>{{choosatron.name}}</h2>
							<em>Offline</em>
						</div>

						<br>

						<div class="row">
							<strong class="col-xs-2 text-right">ID</strong>
							<div class="col-xs-10">{{ choosatron.id }}</div>
						</div>
						<div class="row">
							<strong class="col-xs-2 text-right">Last heard</strong>
							<div class="col-xs-10">{{ choosatron.last_heard }}</div>
						</div>

						<div class="btn-group btn-group-justified list-icon-menu">
							<a class="btn btn-default" ng-show="choosatron.connected && choosatron.product_id !== vm.productId" ng-click="vm.change(choosatron)">Convert to Choosatron</a>
							<a class="btn btn-default" ng-show="choosatron.connected" ng-click="vm.flash(choosatron)">Update Firmware</a>
							<a class="btn btn-danger" confirm-click="vm.unclaim(choosatron)" confirm-title="Remove Choosatron?" confirm-message="This will release your claim on the Choosatron. Are you sure?">Unclaim</a>
						</div>
					</div>
				</li>
			</ul>
			<div class="well welcome" ng-if="vm.choosatrons.length === 0">
				<h2>Are you ready to choose your own adventure?</h2>
				<p>This is the screen where you connect and manage your Choosatron.</p>
			</div>
			<div class="well newItem" ng-click="vm.newChoosatron()">
				<div class="newItemCallout">
					<h1><span class="glyphicon glyphicon-plus"></span> Add Choosatron</h1>
				</div>
			</div>
		</div><!-- .container -->
	</div><!-- .scrollable -->
</div><!-- .wrap -->
</div>
