<div ng-controller="ChoosatronAddModalCtrl as vm" class="dialog-contents">
	<div class="animate-switch-container" ng-switch on="vm.state">

		<div class="animate-switch" ng-switch-when="no_cloud">
			<div align="center"><h2><span class="label label-warning">No Cloud Account</span></h2></div><br>
			<p>WiFi features are only available with a cloud account.</p>
			<p>
				<button type="button" class="btn btn-primary" ng-click="vm.state = 'cloud_auth'">Setup Cloud</button>
				<button type="button" class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
			</p>
		</div>


		<div class="animate-switch" ng-switch-when="plugin">
			<h2>Plug It In</h2>
			<p>Plug a USB cable into your Choosatron and this computer. If your Choosatron has never been setup before (if it CAN'T play games yet), put it in "listening" mode. That means that the LED on Particle Core should be blinking blue. If it isn't, you need to press and hold the 'Mode' button on the Core (when facing the micro-USB, the button on the right) until the light flashes blue. Click <bold><a href="https://docs.particle.io/guide/getting-started/modes/core/#listening-mode">this link</a></bold> for additional help.</p>

			<p>
				<button type="button" class="btn btn-primary" ng-click="vm.scanForDevices()">Ready!</button>
				<button type="button" class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
			</p>
		</div>


		<div class="animate-switch" ng-switch-when="scanning">
			<h2>Looking for Your Choosatron...</h2>
			<p>This will take a few seconds.</p>
		</div>


		<div class="animate-switch" ng-switch-when="cloud_auth">
			<h2>Cloud Auth</h2>
			<div ng-include="'templates/cloud-auth-modal.view.html'"></div>
			<button type="button" class="btn btn-primary" ng-click="vm.state = 'plugin'">Next</button>
		</div>


		<div class="animate-switch" ng-switch-when="connect">
			<h2>Found It!</h2>

			<p>I found a Choosatron with the id <code>{{ vm.choosatrons.currentId() }}</code>. Let's get it connected to the Internet!</p>

			<input class="form-control" ng-model="vm.creds.ssid" placeholder="WiFi Network Name (SSID)" />
			<div class="radio">
				<label><input type="radio" ng-model="vm.creds.security" ng-value="0">No security</label>
			</div>
			<div class="radio">
				<label><input type="radio" ng-model="vm.creds.security" ng-value="1">WEP</label>
			</div>
			<div class="radio">
				<label><input type="radio" ng-model="vm.creds.security" ng-value="2">WPA</label>
			</div>
			<div class="radio">
				<label><input type="radio" ng-model="vm.creds.security" ng-value="3" checked>WPA2</label>
			</div>

			<div class="input-group">
				<input ng-show="vm.showPassword && vm.security != '0'" class="form-control" ng-model="vm.creds.password" placeholder="WiFi Password" />
				<input ng-show="!vm.showPassword && vm.security != '0'" class="form-control" type="password" ng-model="vm.creds.password" placeholder="WiFi Password" />
				<div class="input-group-addon">
					<a ng-click="vm.showPassword = !vm.showPassword">
						<span class="fa" ng-class="{'fa-eye-slash': vm.showPassword, 'fa-eye': !vm.showPassword}"></span>
					</a>
				</div>
			</div>

			<hr>

			<p>
				<button type="button" class="btn btn-primary" ng-disabled="!vm.canConnect()" ng-click="vm.connect()">Connect Your Choosatron</button>
				<button type="button" class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
			</p>
		</div>


		<div class="animate-switch" ng-switch-when="connecting">
			<h2>Connecting to Your Network...</h2>
			<p>Please stand by while we set up your network connection. This will take about ten seconds.</p>
		</div>

		<div class="animate-switch" ng-switch-when="connected">
			<h2>Connected!</h2>
			<p>Or, at least I think so. Check your Choosatron. When you see the LED slowly glowing cyan, your Choosatron is ready to set up.</p>

			<hr>
			<p>
				<button class="btn btn-primary" ng-click="vm.claim()">Set it up!</button>
			</p>
		</div>

		<div class="animate-switch" ng-switch-when="unclaimed">
			<h2>Could Not Claim Your New Choosatron</h2>

			<div class="alert alert-danger" ng-show="vm.errors.length">
				<strong><span class="glyphicon glyphicon-exclamation-sign"></span> Sorry!</strong>
				<ul>
					<li ng-repeat="error in vm.errors">{{ error }}</li>
				</ul>
			</div>

			<pre ng-show="vm.choosatrons.currentId()">The core id is {{ vm.choosatrons.currentId() }}</pre>
			<pre ng-hide="vm.choosatrons.currentId()">Could not get core id</pre>

			<p>
				<button type="button" class="btn btn-link" ng-click="vm.cancel()">Cancel</button>
			</p>
		</div>


		<div class="animate-switch" ng-switch-when="claimed">
			<h2>Your New Choosatron Is Ready!</h2>

			<p>Your Choosatron has been claimed! If it doesn't already have firmware, reset or power cycle, and it should flash purple as it updates!</p>

			<p>
				<button type="button" class="btn btn-success" ng-click="vm.cancel()">Thanks!</button>
			</p>
		</div>

	</div>

	<!-- <span class="label label-warning">Cloud Account Required for WiFi</span>

	<div class="panel" ng-class="{'active': vm.openCloudAuth}">
		<ng-include src="'templates/cloud-auth-modal.view.html'"></ng-include>
	</div> -->

</div>
