<div class="col-xs-9">
	<!-- <div ng-if="!choosatron.verified">
		<p><input ng-model="choosatron.coreId" type="text" class="form-control" value="" /></p>
		<p><button class="btn label label-success" ng-click="verify_(choosatron)">Verify Over WiFi</button></p>

	</div> -->
	<div ng-if="choosatron.id == vm.editing.id">

		<p><input ng-model="vm.editing.name" type="text" class="form-control" placeholder="Name your Choosatron!"/></p>
		<div ng-if="choosatron.isClaimed">
			<p><button class="btn label label-success" ng-click="vm.releaseClaim(choosatron)">Release Claim</button></p>
		</div>
		<div ng-if="!choosatron.isClaimed">
			<p><input ng-model="vm.editing.coreId" type="text" class="form-control"/></p>
		</div>
		<p><button class="btn label label-success" ng-click="vm.saveChoosatron(vm.editing)">Save</button></p>

	</div>
	<div ng-if="choosatron.id != vm.editing.id">
		<p>ID: {{ choosatron.id }}</p>
		<p>Name: {{ choosatron.name }}</p>
		<p>Core ID: {{ choosatron.coreId }}</p>
		<p>Owner: {{ choosatron.ownerName }}</p>
		<p><button class="btn label label-success" ng-click="vm.editChoosatron(choosatron)">Edit</button></p>
	</div>
</div>

<!-- <div class="container">
	<div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
		<div class
	</div>
</div> -->