<ng-include src="'templates/storyView.html'"></ng-include>

<input ng-model="$parent.vm.showPassages" ng-change="vm.showStoryDetails = false" class="sr-only paneToggleCheckbox" type="checkbox" id="paneRightToggle" />
<div class="wrap ng-class:{picking: vm.picking, top_open: vm.showStoryDetails}">
<div class="wrapInner">


<div class="paneSplit">
<div class="scrollable scrollPassages">
	<div class="passage-container passageEntrances">
		<ul class="list-unstyled">
			<li ng-repeat="entrance in vm.story.collectEntrances(vm.passage)" ng-class="{lastActive: (entrance == vm.prevPassage)}" class="unavailable">
				<a disabled>
					<span class="passageBack" passage-icons="entrance">P{{ entrance.number }}</span>
					<div>
						<p class="truncated">{{ entrance.getContent() | truncate | quote }}</p>
						<p ng-if="entrance.getPassageChoice(vm.passage)" class="h4 truncated">{{ entrance.getPassageChoice(vm.passage) | truncate }}</p>
						<p ng-if="entrance.hasAppend(vm.passage)" class="h4 truncated">Via Append</p>
					</div>
				</a>
			</li>
		</ul>
	</div><!-- .passageEntrances -->

	<div class="passage-container passage-box">
		<div class="passageBody">
			<h2>
				Passage {{ vm.passage.number }}
				<span ng-if="vm.passage.opening" class="label label-success">Start</span>
			</h2>

			<div>{{vm.passage.content}}</div>

			<div ng-if="vm.passage.exitType == 'append'" class="tab-pane" id="passageAppend">
				<div ng-if="vm.passage.hasAppend()">
					<div ng-if="vm.passage.appendLink.destination" class="choicePassage">
						<a ng-click="vm.selectChoice(vm.passage.appendLink)"><span class="passageLink" passage-icons="vm.getPassage(vm.passage.appendLink.destination)">Continue...</a>
					</div>
				</div>
			</div><!-- .passageAppend -->
		</div><!-- .passageBody -->
	</div><!-- .passage-box -->

	<div ng-if="vm.passage.exitType != 'append'" class="passage-container passage-box ng-class:'ending-'+vm.passage.endingTypeName()">
		<div class="passageExits">
			<div ng-if="vm.passage.exitType == 'ending'" class="tab-pane" id="passageEnding">
				<h4>
					The End
					<span ng-if="vm.passage.endingValue === -2" class="btn btn-default btn-terrible">Terrible</span>
					<span ng-if="vm.passage.endingValue === -1" class="btn btn-default btn-bad">Bad</span>
					<span ng-if="vm.passage.endingValue === 0" class="btn btn-default btn-neutral">Neutral</span>
					<span ng-if="vm.passage.endingValue === 1" class="btn btn-default btn-good">Good</span>
					<span ng-if="vm.passage.endingValue === 2" class="btn btn-default btn-great">Great</span>
				</h4>
			</div><!-- .passageEnding -->


			<div ng-if="vm.passage.exitType == 'choices'" class="tab-pane passageChoices" id="passageChoices">
				<div ng-repeat="choice in vm.passage.choices" ng-init="choiceNumber = $index + 1" class="choiceContainer row" ng-class="{unavailable: choice.hidden}">
					<div class="col-xs-2">
						<a class="btn btn-lg btn-primary btn-block" ng-disabled="!choice.hasDestination() || choice.hidden" ng-click="vm.selectChoice(choice)">
							<span class="choiceNumber">{{ choiceNumber }}</span>
						</a>
					</div>
					<div class="col-xs-10">
						<p>{{choice.content}}</p>
					</div>
				</div><!-- .choiceContainer -->
			</div><!-- .passageChoices -->

		</div><!-- .passageExits -->
	</div><!-- .passage-box -->

	<div class="scroll_fix"></div>
</div><!-- .scrollable -->
</div><!-- .paneSplit -->

<div class="paneSplit paneRight">
	<div class="pane theme-alt panePassages">
		<p class="paneToggle"><label for="paneRightToggle"><span class="glyphicon glyphicon-chevron-left"></span></label></p>

		<h2>Passages</h2>

		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input ng-model="vm.passageSearch" type="text" class="form-control" placeholder="Filter Passages">
			<span class="input-group-extra"><a ng-click="vm.clearPassageSearch()"><span class="glyphicon glyphicon-remove"></span></a></span>
		</div>

		<div class="scrollable">
			<ul class="list-unstyled list-passages">
				<li ng-repeat="p in vm.story.passages | filter:vm.passageSearch">
					<a ng-click="vm.selectPassage(p)" class="truncated">
						<span class="badge" passage-icons="p">P{{ p.number }}</span>
						<span ng-if="p.opening" class="label label-success">Start</span>
						{{ p.getContent() | truncate | quote }}
					</a>
				</li>
			</ul>

			<div class="scroll_fix"></div>
		</div><!-- .scrollable -->
	</div><!-- .panePassages -->
</div><!-- .paneSplit -->

</div><!-- .wrapInner -->
</div><!-- .wrap -->

