<div class="menuTop theme-inverse storyMenu">
	<!-- <div class="topBar">
		<p class="h5 pull-left" ng-show="vm.profiles.all.length"><a ng-click="vm.showStoriesMenu()"><span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-th"></span> Return to Stories Menu</a></p>
		<p class="h5 pull-right">
			<a ng-click="vm.location.path('/profiles')">
				<span class="glyphicon glyphicon-user"></span> {{vm.profiles.current.name}}
			</a>
		</p>
	</div> -->
	<ng-include src="'templates/topbar.view.html'"></ng-include>

	<ul class="list-inline list-icon-menu h4">
		<li><a ng-click="vm.newProfile()"><span class="glyphicon glyphicon-plus"></span> New Profile</a></li>
	</ul>
</div>

<div class="theme-alt wrap">
	<div class="scrollable">
		<div class="container">
			<div class="row profilesList">

				<h1 ng-if="vm.profiles.all.length > 1">Select a Profile</h1>
				<h1 ng-if="vm.profiles.all.length == 1">Your Profile</h1>

				<div class="welcome well" ng-if="vm.profiles.all.length < 1">
					<h1>Welcome to the ChoiceWright!</h1>
					<p>To get started <a ng-click="vm.newProfile()">Create a New Profile</a>.</p>
				</div>

				<ul class="list-unstyled">
					<li ng-repeat="p in vm.profiles.all" class="col-md-4 col-sm-6 fade-animation">
						<div class="profileCard well well-lg" ng-click="vm.pickProfile(p)" ng-class="{'active': p.id === vm.profiles.current.id}">
							<h2><span class="glyphicon glyphicon-user"></span> {{p.name}}</h2>
							<h3 ng-show="p.cloud.username"><span class="fa fa-cloud"></span> {{p.cloud.username}}</h3>

							<!-- <a ng-click="vm.newProfile(p)">
								<span class="glyphicon glyphicon-edit"></span> Edit profile
							</a> -->
							<hr />
							<ul class="list-unstyled">
								<li><span class="glyphicon glyphicon-time"></span> Created {{ p.created | date }}</li>
								<li><span class="glyphicon glyphicon-book"></span> {{ p.entries.length }} {{ p.entries.length == 1 ? 'Story' : 'Stories' }}</li>
								<li> {{ p.id }} </li>
								<li> {{ p.cloud.token }} </li>
							</ul>
						</div>
					</li>
				</ul>
			</div><!-- .profilesList -->
		</div><!-- .container -->
	</div><!-- .scrollable -->
</div><!-- .wrap -->
