<div ng-controller="ProfileEditModalCtrl as vm" class="dialog-contents">
	<h2>{{ vm.headerText }}</h2>
	<form name="edit_profile_form">
		<div class="profile-fields" ng-hide="vm.openCloudAuth">
			<div class="form-group">
				<div class="checkbox">
					<label>
						<input id="autosave" type="checkbox" ng-model="vm.profile.autosave">
						Autosave Stories
					</label>
				</div>
			</div>

			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-user"></span>
					</span>
					<p><input ng-model="vm.profile.name" type="text" class="form-control" placeholder="Your Profile Name" required/></p>
				</div>
			</div>

			<div class="form-group">
				<button ng-show="vm.noCloudAuth" type="button" class="btn" ng-click="vm.openCloudAuth = !vm.openCloudAuth">
					<span class="fa fa-cloud"></span>
					Link with Cloud
				</button>
			</div>

			<button type="button" class="btn btn-primary" ng-click="confirm(vm.profile)" ng-disabled="!edit_profile_form.$valid">Finish</button>
			<button type="button" class="btn btn-link" ng-click="closeThisDialog(0)">Cancel</button>
		</div>

		<div ng-show="vm.openCloudAuth" ng-include="'templates/cloud-auth-modal.view.html'"></div>
	</form>
</div>
