<div class="menuTop theme-inverse storyMenu">
	<ng-include src="'templates/topbar.view.html'"></ng-include>

	<ul class="list-inline list-icon-menu h4">
		<li><a ng-click="vm.newProfile()"><span class="glyphicon glyphicon-plus"></span> New Profile</a></li>
	</ul>
</div>

<div class="theme-alt wrap">
	<div class="scrollable">
		<div class="container">
			<div class="row profilesList">

				<h1 ng-if="vm.profiles.all.length > 1">Choose a Profile</h1>
				<h1 ng-if="vm.profiles.all.length == 1">Your Profile</h1>

				<div class="welcome well" ng-if="vm.profiles.all.length < 1">
					<h1>Welcome to Choosatron Write!</h1>
					<p>To get started <a ng-click="vm.newProfile()">Create a New Profile</a>.</p>
				</div>

				<ul class="list-unstyled">
					<li ng-repeat="p in vm.profiles.all" class="col-md-4 col-sm-6 fade-animation">

						<div class="tile">
							<div class="profileCard front well well-lg" ng-click="vm.pickProfile(p)" ng-class="{'active': p.id() === vm.profiles.current.id()}">
								<h1><span class="glyphicon glyphicon-user"></span> {{p.name()}}</h1>
							</div>

							<div class="profileCard back well well-lg" ng-class="{'active': p.id() === vm.profiles.current.id()}">
								<div class="profileInfo" ng-click="vm.pickProfile(p)">
									<h2><span class="glyphicon glyphicon-user"></span> {{p.name()}}</h2>
									<h3 ng-show="p.auth().username()"><span class="fa fa-cloud"></span> {{p.auth().username()}}</h3>
									<hr />
									<ul class="list-unstyled">
										<li><span class="glyphicon glyphicon-time"></span> Created {{ p.created() | date }}</li>
										<li><span class="glyphicon glyphicon-book"></span> {{ p.entries().length }} {{ p.entries().length == 1 ? 'Story' : 'Stories' }}</li>
									</ul>
								</div>

								<div class="btn-group btn-group-justified list-icon-menu">
									<a class="btn btn-default" ng-click="vm.editProfile(p)">
										<span class="glyphicon glyphicon-edit"></span> Edit profile
									</a>
									<a class="btn btn-default" confirm-click="vm.removeProfile(p)" confirm-message="Are you sure you want to remove '{{ p.name() }}' profile?">
										<span class="glyphicon glyphicon-trash"></span> Remove
									</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div><!-- .profilesList -->
		</div><!-- .container -->
	</div><!-- .scrollable -->
</div><!-- .wrap -->
