<div>
	<h3 ng-show="vm.profiles.current.id != p.id"><a ng-click="vm.pickProfile(p)"><span class="glyphicon glyphicon-user"></span> {{ p.name }}</a></h3>
	<div class="form form-vertical" ng-show="vm.profiles.current.id == p.id">
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-user"></span>
			</span>
			<input class="form-control" ng-model="vm.profiles.current.name">
			<span class="input-group-btn">
				<button class="btn btn-default" ng-click="vm.save_profile()">
					<span class="glyphicon glyphicon-floppy-{{vm.saveState}}"></span>
				</button>
			</span>
		</div>
		<div class="input-group">
			<span class="input-group-addon">
				<span class="glyphicon glyphicon-home"></span>
			</span>
			<input class="form-control" ng-model="vm.profiles.current.homePath">
			<span class="input-group-btn">
				<button class="btn btn-default" ng-click="vm.set_home_path()">
					<span class="glyphicon glyphicon-cog}"></span>
				</button>
			</span>
		</div>
		<div class="checkbox">
			<label>
				Autosave stories?
				<input id="autosave" type="checkbox" ng-model="vm.profiles.current.autosave">
			</label>
		</div>
	</div>
	<ul class="list-unstyled">
		<li><span class="glyphicon glyphicon-time"></span> Created {{ p.created | date }}</li>
		<li><span class="glyphicon glyphicon-book"></span> {{ p.entries.length }} {{ p.entries.length == 1 ? 'Story' : 'Stories' }}</li>
	</ul>
	<li ng-repeat="p in vm.profiles.all" class="col-md-4 col-sm-6 fade-animation">
	</li>
</div>