<div class="col-xs-9">
	<!-- <div ng-if="!choosatron.verified">
		<p><input ng-model="choosatron.coreId" type="text" class="form-control" value="" /></p>
		<p><button class="btn label label-success" ng-click="verify_(choosatron)">Verify Over WiFi</button></p>

	</div> -->
	<div ng-if="choosatron.id == choosatrons.editing.id">

		<p><input ng-model="choosatron.name" type="text" class="form-control" value="" /></p>
		<div ng-if="choosatron.isClaimed">
			<p><button class="btn label label-success" ng-click="releaseClaim(choosatron)">Release Claim</button></p>
		</div>
		<div ng-if="!choosatron.isClaimed">
			<p><input ng-model="choosatron.coreId" type="text" class="form-control" value="" /></p>
		</div>

	</div>
	<div ng-if="choosatron.id != choosatrons.editing.id">
		<p>Name: {{ choosatron.name }}</p>
		<p>ID: {{ choosatron.coreId }}</p>
		<p>Owner: {{ choosatron.ownerName }}</p>
	</div>
</div>