<div ng-controller="CloudAuthModalCtrl as vm" class="animate-switch-container" ng-switch on="vm.authState">
	<div class="animate-switch" ng-switch-when="login">
		<form>
			<input ng-model="vm.username" name="login" placeholder="Username"><br>
			<input ng-model="vm.password" name="password" placeholder="Password" type="password"><br>
			<p><button type="submit" class="ngdialog-button" ng-click="vm.loginToCloud()">Login</button></p>

			<!--<p ng-show="vm.loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>-->
			<p ng-show="vm.error">{{ vm.error.message }}</p>
		</form>
		<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="cancel()">Cancel</button>
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="vm.changeAuthState('register')">Sign Up</button>
		</div>
	</div>
	<div class="animate-switch" ng-switch-when="register">
		<form ng-show="vm.remoteState == idle">
			<input name="first_name" placeholder="Your name"><br>
			<input name="login" ua-is-email placeholder="Email"><br>
			<input name="password" placeholder="Password" type="password"><br>
			<p><button type="submit">Create account</button> or <a href="" ua-oauth-link="google">Sign up with Google</a></p>

			<!--<p ng-show="loading"><img src="https://app.userapp.io/img/ajax-loader-transparent.gif"></p>-->
			<p ng-show="error">{{ error.message }}</p>
		</form>
		<div class="ngdialog-buttons">
			<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="vm.cancel()">Cancel</button>
			<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="vm.changeAuthState('register')">Sign Up</button>
		</div>
	</div>
	<div class="animate-switch" ng-switch-default>
		<p>Error state!</p>
	</div>
</div>