<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<style>
.header {
	position: relative;
	background: white;
	z-index: 2;
}
.body {
	z-index: 1;
}
.section {
	position: relative;
}
.section .section-inner {
	position: absolute;
	left: 0;
	top: 0;
}

.choice {
	cursor: pointer;
	margin-left: 2em;
	color: blue;
}
.choice:hover {
	text-decoration: underline;
}
</style>

<script>
function Choosatron(story) {
	this.story = story;
	this.passage = {};
	this.play = {};
	this.dataset = {};
}

Choosatron.create = function(story) {
	var c = new Choosatron(story);
	c.start();
	return c;
}

Choosatron.prototype.data = function() {
	if (arguments.length === 0) {
		return this.dataset;
	}

	var key = arguments[0];

	if (arguments.length === 2) {
		this.dataset[key] = arguments[1];
	}

	return this.dataset[key];
}

Choosatron.prototype.showPassage = function(passage) {
	if (!passage) return;
	if (passage.id == this.passage.id) return;

	location.hash = passage.id;
	this.passage = passage;

	var $section = $('.section-inner');

	var height  = $section.height();
	var preshow = {top: height + 'px'};
	var shown   = {top: 0}
	var hidden  = {top: '-' + (height/2) + 'px'};

	var show = function() {
		$('.passage').html(passage.content);
		this.showChoices(passage);
		this.showFeedback(passage);
		$section.hide().css(preshow).show().animate(shown);
	};

	$section.animate(hidden, $.proxy(show, this));
}

Choosatron.prototype.showChoices = function(passage) {
	var choices = passage && passage.choices ? passage.choices : [];
	var html = [];
	for (var i=0; i<choices.length; i++) {
		var choice = '<div class="choice" id="' + choices[i].id + '">' + choices[i].content + '</div>';
		html.push(choice);
	}
	$('.choices').html(html.join('\n'));
}

Choosatron.prototype.showFeedback = function(passage) {
	if (passage.ending_value === false) return;
}

Choosatron.prototype.bindStory = function() {
	// Bind the basic data
	document.title = this.story.title;
	$('.title').html(this.story.title);
	$('.author').html(this.story.author);

	if (!this.story.passages) return;

	var passage = null;

	if (location.hash) {
		passage = this.findPassage(location.hash.substr(1));
	}
	if (!passage) {
		passage = this.story.passages[0];
	}
	this.showPassage(passage);
}

Choosatron.prototype.findPassage = function(id) {
	if (!this.story.passages) return null;
	for (var i=0; i<this.story.passages.length; i++) {
		if (this.story.passages[i].id == id) {
			return this.story.passages[i];
		}
	}
	return null;
}

Choosatron.prototype.findChoice = function(id) {
	if (!this.passage || !this.passage.choices) return null;
	for (var i=0; i<this.passage.choices.length; i++) {
		if (this.passage.choices[i].id == id) {
			return this.passage.choices[i];
		}
	}
	return null;
}

Choosatron.prototype.makeChoice = function(e) {
	var choice = this.findChoice(e.target.id);
	if (!choice) return;
	var passage = this.findPassage(choice.destination);
	this.showPassage(passage);
}

Choosatron.prototype.watchPlay = function() {
	$('body').on('click', '.choice', $.proxy(this.makeChoice, this))
	this.watcher = window.setInterval($.proxy(this.watchHash, this), 250);
}

Choosatron.prototype.watchHash = function() {
	if (!location.hash || this.hash == location.hash) {
		return;
	}
	this.hash = location.hash;
	this.bindStory();
}

Choosatron.prototype.start = function() {
	this.bindStory();
	this.watchPlay();
}

$(function() {
	Choosatron.create({{STORY_JSON}});
});
</script>
</head>

<body>
<div class="container">
<div class="row header">
	<h1 class="title"></h1>
	<h3 class="author"></h3>
</div> <!-- /.row -->
<div class="row body">
	<div class="section">
	<div class="section-inner">
		<div class="passage lead"></div><!-- /.passage -->
		<div class="choices"></div><!-- /.choices -->
		<div class="feedback"></div><!-- /.feedback -->
	</div><!-- /.section-inner -->
	</div><!-- /.section -->
</div> <!-- /.row -->
</div> <!-- /.container -->
</body>
</html>
