<div id="confirmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<h2>Confirm</h2>

			<p>{{ modal.confirm_message }}</p>

			<div class="row row-gutter-1x">
				<div class="col-xs-12">
					<p class="pull-right">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button id="confirmDelete" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>