
<input ng-model="show_story_details" class="sr-only paneToggleCheckbox" type="checkbox" id="paneTopToggle" />
<div class="pane paneTop theme-inverse paneStoryEdit">
	<div class="topBar">
		<p class="h5 pull-left"><a ng-click="show_stories_menu()"><span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-th"></span> Return to Stories Menu</a></p>

		<p class="h5 pull-right"><a><span class="glyphicon glyphicon-user"></span> Heather Fields</a></p>
	</div>

	<div class="row">
		<div class="col-xs-6 h4">
			<div class="editable-text"><label><span class="glyphicon glyphicon-pencil"></span> <p><input ng-model="story.title" type="text" class="h2 fill-width" placeholder="Story Title" value="The Story About the Crystal Skull" /></p></label></div>

			<ul class="list-inline list-icon-menu">
				<li><a href="#export-{{story.id}}" ng-click="export_story(story)"><span class="glyphicon glyphicon-cloud-download"></span> Export</a></li>
				<!-- I think it is better if you can only delete from the stories list -->
				<!-- <li><a><span class="glyphicon glyphicon-trash"></span> Delete</a></li> -->
			</ul>
		</div>

		<div class="col-xs-6 h4">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="input_author" class="col-sm-3 control-label">Author</label>
					<div class="col-sm-4">
						<input ng-model="story.author" type="text" class="form-control" id="input_author" placeholder="Author" />
					</div>
					<label for="input_genre" class="col-sm-2 control-label">Genre</label>
					<div class="col-sm-3">
						<input ng-model="story.genre" type="text" class="form-control" id="input_genre" placeholder="Genre" />
					</div>
				</div>
				<div class="form-group">
					<label for="input_credits" class="col-sm-3 control-label">Description</label>
					<div class="col-sm-9">
						<textarea ng-model="story.description" class="form-control" rows="3" placeholder="Story Description"></textarea>
					</div>
				</div>
			</div>

			<div class="col-sm-9 col-sm-offset-3"><p><a><span class="glyphicon glyphicon-pencil"></span> Edit More Story Info</a></p></div>
		</div>
	</div>

	<p class="paneToggle theme-inverse-exclude"><label for="paneTopToggle"><span class="glyphicon glyphicon-chevron-down"></span></label></p>
</div><!-- .paneTop -->



<input class="sr-only paneToggleCheckbox" type="checkbox" id="paneRightToggle" />
<div class="wrap ng-class:{picking: picking}">
<div class="wrapInner">


<div class="paneSplit">
<div class="scrollable scrollPassages">
	<div class="passageEntrances">
		<ul class="list-unstyled">
			<li ng-repeat="entrance in story.collect_entrances(passage)" ng-class="{lastActive: (entrance == prev_passage)}">
				<a ng-click="edit_passage(entrance.id)">
					<span class="passageBack" data-choices="{{ entrance.choices.length }}">P{{ entrance.number }}</span>
					<div>
						<p class="truncated">"{{ entrance.get_content() | truncate }}"</p>
						<p class="h4 truncated">{{ entrance.get_passage_choice(passage) | truncate }}</p>
					</div>
				</a>
			</li>
		</ul>
	</div><!-- .passageEntrances -->

	<div class="passage">
		<div class="passageBody">
			<!-- TODO: when you delete a passage, you seem to always be sent to the starting passage of the story... might be nice if you went to your previous passage?? -->
			<!-- TODO: when you subsequently open a story... it would default to the last passage you were looking at... dunno if that's the case now -->
			<h2>
				Passage {{ passage.number }}
				<!-- TODO: may indicate this some other way? -->
				<span ng-if="passage.opening" class="label label-success">Start</span>
				<a ng-if="!passage.opening" class="h4 icon-inline icon-subtle" confirm-click="delete_passage(passage)" confirm-message="Delete passage?"><span class="glyphicon glyphicon-trash"></span></a>
			</h2>

			<textarea ng-model="passage.content" class="form-control passage_{{passage.id}}" rows="10" placeholder="Write your passage content here."></textarea>
		</div><!-- .passageBody -->
	</div><!-- .passage -->

	<ng-include src="'templates/passage-exits.html'"></ng-include>
</div><!-- .scrollable -->
</div><!-- .paneSplit -->


<div class="paneSplit paneRight">
	<div class="pane theme-alt panePassages">
		<p class="paneToggle"><label for="paneRightToggle"><span class="glyphicon glyphicon-chevron-left"></span></label></p>

		<div class="pickingMessage">
			<h3>Choose a passage to link <span class="glyphicon glyphicon-arrow-right"></span></h3>
			<h3><a ng-click="pick_passage(null)"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a></h3>
		</div>

		<h2>Passages</h2>

		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input ng-model="passage_search" type="text" class="form-control" placeholder="Filter Passages">
			<span class="input-group-extra"><a ng-click="clear_passage_search()"><span class="glyphicon glyphicon-remove"></span></a></span>
		</div>

		<div class="scrollable">
			<ul class="list-unstyled list-passages">
				<li ng-repeat="passage in story.passages | filter:passage_search">
					<a ng-click="edit_passage(passage.id)" class="truncated">
						<span class="badge" data-choices="{{ passage.choices.length }}">P{{ passage.number }}</span>
						<!-- TODO: may indicate this some other way? -->
						<span ng-if="passage.opening" class="label label-success">Start</span>
						"{{ passage.get_content() | truncate }}"
					</a>
				</li>
			</ul>
		</div><!-- .scrollable -->
	</div><!-- .panePassages -->
</div><!-- .paneSplit -->


</div><!-- .wrapInner -->
</div><!-- .wrap -->

