
<ng-include src="'templates/story.html'"></ng-include>



<input ng-model="$parent.show_passages" ng-change="show_story_details = false" class="sr-only paneToggleCheckbox" type="checkbox" id="paneRightToggle" />
<div class="wrap ng-class:{picking: picking, top_open: show_story_details}">
<div class="wrapInner">


<div class="paneSplit">
<div class="scrollable scrollPassages">
	<div class="passage-container passageEntrances">
		<ul class="list-unstyled">
			<li ng-repeat="entrance in story.collect_entrances(passage)" ng-class="{lastActive: (entrance == prev_passage)}">
				<a ng-click="edit_passage(entrance.id)">
					<span class="passageBack" passage-icons="entrance">P{{ entrance.number }}</span>
					<div>
						<p class="truncated">{{ entrance.get_content() | truncate | quote }}</p>
						<p ng-if="entrance.get_passage_choice(passage)" class="h4 truncated">{{ entrance.get_passage_choice(passage) | truncate }}</p>
						<p ng-if="entrance.has_append(passage)" class="h4 truncated">Via Append</p>
					</div>
				</a>
			</li>
		</ul>
	</div><!-- .passageEntrances -->

	<div class="passage-container passage-box">
		<div class="passageBody">
			<!-- TODO: when you delete a passage, you seem to always be sent to the starting passage of the story... might be nice if you went to your previous passage?? -->
			<h2>
				Passage {{ passage.number }}
				<!-- TODO: may indicate this some other way? -->
				<span ng-if="passage.opening" class="label label-success">Start</span>
				<a ng-if="!passage.opening" class="h4 icon-inline icon-subtle" confirm-click="delete_passage(passage)" confirm-message="Delete passage?"><span class="glyphicon glyphicon-trash"></span></a>
			</h2>

			<textarea ng-model="passage.content" class="form-control passage_{{passage.id}}" rows="10" placeholder="Write your passage content here."></textarea>
		</div><!-- .passageBody -->
	</div><!-- .passage-box -->

	<ng-include src="'templates/passage-exits.html'"></ng-include>

	<div class="scroll_fix"></div>
</div><!-- .scrollable -->
</div><!-- .paneSplit -->


<div class="paneSplit paneRight">
	<div class="pane theme-alt panePassages">
		<p class="paneToggle"><label for="paneRightToggle"><span class="glyphicon glyphicon-chevron-left"></span></label></p>

		<div class="pickingMessage">
			<h3>Choose a passage to link <span class="glyphicon glyphicon-arrow-right"></span></h3>
			<h3><a ng-click="pick_passage(null)"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a></h3>
		</div>

		<h2>Passages</h2>

		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input ng-model="passage_search" type="text" class="form-control" placeholder="Filter Passages">
			<span class="input-group-extra"><a ng-click="clear_passage_search()"><span class="glyphicon glyphicon-remove"></span></a></span>
		</div>

		<div class="scrollable">
			<ul class="list-unstyled list-passages">
				<li ng-repeat="passage in story.passages | filter:passage_search">
					<a ng-click="select_passage(passage.id)" class="truncated">
						<span class="badge" passage-icons="passage">P{{ passage.number }}</span>
						<!-- TODO: may indicate this some other way? -->
						<span ng-if="passage.opening" class="label label-success">Start</span>
						{{ passage.get_content() | truncate | quote }}
					</a>
				</li>
			</ul>

			<div class="scroll_fix"></div>
		</div><!-- .scrollable -->
	</div><!-- .panePassages -->
</div><!-- .paneSplit -->


</div><!-- .wrapInner -->
</div><!-- .wrap -->

