
<input class="sr-only paneToggleCheckbox" type="checkbox" id="paneTopToggle" />
<div class="pane paneTop theme-inverse paneStoryEdit">
	<div class="topBar">
		<!-- TODO: what's the best Angular+Chrome App way of incorporating an entirely different screen of content... new html page? Angular routing? etc? -->
		<p class="h5 pull-left"><a ng-click="show_stories_menu()"><span class="glyphicon glyphicon-arrow-left"></span> <span class="glyphicon glyphicon-th"></span> Return to Stories Menu</a></p>

		<p class="h5 pull-right"><a><span class="glyphicon glyphicon-user"></span> Heather Fields</a></p>
	</div>

	<div class="row">
		<div class="col-xs-6 h4">
			<div class="editable-text"><label><span class="glyphicon glyphicon-pencil"></span> <p><input ng-model="story.title" type="text" class="h2 fill-width" placeholder="Story Title" value="The Story About the Crystal Skull" /></p></label></div>

			<ul class="list-inline list-icon-menu">
				<li><a href="#export-{{story.id}}" ng-click="export_story(story)"><span class="glyphicon glyphicon-cloud-download"></span> Export</a></li>
				<!-- what if you can only delete from the stories list? -->
				<!-- <li><a><span class="glyphicon glyphicon-trash"></span> Delete</a></li> -->
			</ul>
		</div>

		<div class="col-xs-6 h4">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="input_author" class="col-sm-3 control-label">Author</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="input_author" placeholder="Author" value="Author One" />
					</div>
					<label for="input_genre" class="col-sm-2 control-label">Genre</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" id="input_genre" placeholder="Genre" value="Survival Horror" />
					</div>
				</div>
				<div class="form-group">
					<label for="input_credits" class="col-sm-3 control-label">Description</label>
					<div class="col-sm-9">
						<textarea class="form-control" rows="3" placeholder="Story Description">Once upon a time there was a crystal skull hidden in a cave.  Some say there's a horrible curse and possibly some mummies.  Will you finally be the one who discovers where it is hidden?  Can you avoid the curse?  And mummies?</textarea>
					</div>
				</div>
			</div>

			<div class="col-sm-9 col-sm-offset-3"><p><a><span class="glyphicon glyphicon-pencil"></span> Edit More Story Info</a></p></div>
		</div>
	</div>

	<p class="paneToggle theme-inverse-exclude"><label for="paneTopToggle"><span class="glyphicon glyphicon-chevron-down"></span></label></p>
</div><!-- .paneTop -->



<input class="sr-only paneToggleCheckbox" type="checkbox" id="paneRightToggle" />
<div class="wrap ng-class:{picking: picking}">
<div class="wrapInner">


<div class="paneSplit">
<div class="scrollable scrollPassages">
	<div class="passageEntrances">
		<ul class="list-unstyled">
			<li ng-repeat="entrance in story.collect_entrances(passage)" ng-class="{lastActive: (entrance == prev_passage)}">
				<a ng-click="edit_passage(entrance.id)">
					<span class="passageBack" data-choices="{{ entrance.choices.length }}">P{{ entrance.number }}</span>
					<div>
						<p class="truncated">"{{ entrance.get_content() | truncate }}"</p>
						<p class="h4 truncated">{{ entrance.get_passage_choice(passage) | truncate }}</p>
					</div>
				</a>
			</li>
		</ul>
	</div><!-- .passageEntrances -->

	<div class="passage">
		<div class="passageBody">
			<!-- TODO: need confirmation on delete, and/or undo after delete -->
			<!-- TODO: starting passage should NOT have a delete button... should probably be marked START instead -->
			<!-- TODO: what happens when you delete a passage... what passage do you go to next? -->
			<!-- TODO: there seem to be bugs with deleting passages and opening/closing the app... you get a lot of blank passages, some of which you can't seem to add choices to? maybe? -->
			<!-- TODO: when you create a new story... it would default to the starting passage... probably already the case -->
			<!-- TODO: when you subsequently open a story... it would default to the last passage you were looking at... dunno if that's the case now -->
			<h2>Passage {{ passage.number }} <a class="h4 icon-inline icon-subtle" ng-click="delete_passage(passage)"><span class="glyphicon glyphicon-trash"></span></a></h2>

			<textarea ng-model="passage.content" class="form-control passage_{{passage.id}}" rows="10" placeholder="Write your passage content here."></textarea>
		</div><!-- .passageBody -->
	</div><!-- .passage -->

	<div class="passage">
		<div class="passageExits">
			<!-- TODO: support for ending/append needs to be worked out. -->
			<!-- TODO: need confirmation dialog when switching between these types -->
			<ul class="nav nav-tabs nav-justified">
				<li><a data-target="#passageEnding" data-toggle="tab">Set as Ending</a></li>
				<li><a data-target="#passageAppend" data-toggle="tab">Append a Passage</a></li>
				<li class="active"><a data-target="#passageChoices" data-toggle="tab">Add Choices</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane passageEnding" id="passageEnding">
					<div class="btn-toolbar" role="toolbar">
						<div class="btn-group h4">Ending Value:</div>
						<div class="btn-group btn-group-lg">
							<button type="button" class="btn btn-default btn-primary">Great</button>
							<button type="button" class="btn btn-default btn-success">Good</button>
							<button type="button" class="btn btn-default">Neutral</button>
							<button type="button" class="btn btn-default btn-warning">Bad</button>
							<button type="button" class="btn btn-default btn-danger">Terrible</button>
						</div>
					</div>
				</div><!-- .passageEnding -->


				<div class="tab-pane passageAppend" id="passageAppend">
					<p class="h4 text-center"><a><span class="glyphicon glyphicon-link"></span> New passage</a> <a><span class="glyphicon glyphicon-link"></span> Existing passage</a></p>
				</div><!-- .passageAppend -->


				<div class="tab-pane active passageChoices" id="passageChoices">

					<!-- TODO: choices probably need a drag+drop handle for sortable behavior -->
					<div ng-repeat="choice in passage.choices" class="choiceContainer">
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" ng-click="delete_choice(passage, choice)"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">{{ $index + 1 }}</span>
						</div>

						<div class="col-xs-9">
							<p><input ng-model="choice.content" type="text" class="form-control" placeholder="Write your choice content here." value="" /></p>

							<!-- TODO: Potentially buggy scenario with picking mode... user has N unfinished choices, and they click "Existing Passage" for one of them, and then also clicks "Existing Passage" for a different one of them before making a selection for the first... -->
							<!-- TODO: what happens if you click "Existing Passage" and then immediately pick "New Passage" ?? -->
							<p ng-if="!choice.has_destination()" class="choicePassageMenu"><a ng-click="new_passage(choice)"><span class="glyphicon glyphicon-link"></span> New passage</a> <a ng-click="pick_passage(choice)"><span class="glyphicon glyphicon-link"></span> Existing passage</a></p>

							<!-- TODO: this multiple paths per choice thing might go away... it is not something we're supporting right now -->
							<div ng-if="choice.has_destination()" ng-repeat="path in choice.paths">
								<div ng-if="path.destination" class="choicePassage">
									<a class="choicePassageUnlink icon-subtle" ng-click="choice.set_destination(null)"><span class="glyphicon glyphicon-remove-circle"></span></a>

									<a class="truncated" ng-click="edit_passage(path.destination)">"{{ get_passage(path.destination).get_content() | truncate }}"</a>

									<a ng-click="edit_passage(path.destination)"><span class="passageLink" data-choices="9">P{{ get_passage(path.destination).number }}</span></a>
								</div>
							</div>
						</div>

						<!-- TODO: need to add support for showing collapsed pre/post logic sections -->
						<div class="col-xs-1 choiceLogic h4">
							<a><span class="glyphicon glyphicon-eye-open"></span></a>
							<a><span class="glyphicon glyphicon-cog"></span></a>
						</div>
					</div>



					<!-- TODO: static example code just here for reference until I integrate all this -->
					<div ng-show="false">
					<hr />
					<hr />
					<div class="choiceContainer">
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">2</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Take the road to the left." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink" data-choices="4">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#" class=""><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#"><span class="glyphicon glyphicon-book"></span></a>
						</div>
					</div>

					<div class="choiceContainer">
						<div class="choiceDisplayConditions">
							<p><strong>Display choice if:</strong></p>

							<div class="row">
								<div class="col-xs-1 h4"><a href="#" class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
								<div class="col-xs-3">
								<select class="form-control">
									<option>equals</option>
									<option>does not equal</option>
									<option>greater than</option>
									<option>less than</option>
								</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
							</div>

							<p class="quip"><span class="glyphicon glyphicon-arrow-down"></span></p>
						</div><!-- .choiceDisplayConditions -->
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">3</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Place the skull onto the pedestal." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#" class="active"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#"><span class="glyphicon glyphicon-book"></span></a>
						</div>
					</div>

					<div class="choiceContainer">
						<div class="choiceDisplayConditions dcCollapsedSet">
							<p>Display choice if <var>crystalSkulls</var> <em>greater than</em> <var>0</var></p>

							<p class="quip"><span class="glyphicon glyphicon-arrow-down"></span></p>
						</div><!-- .choiceDisplayConditions -->
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">4</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Place the skull onto the pedestal." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink" data-choices="6">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#"><span class="glyphicon glyphicon-book"></span></a>
						</div>
					</div>

					<div class="choiceContainer">
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">5</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Place the skull onto the pedestal." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink" data-choices="8">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#" class="active"><span class="glyphicon glyphicon-book"></span></a>
						</div>
						<div class="choiceStoryUpdates">
							<p><strong>When choice selected, update story:</strong></p>

							<div class="row">
								<div class="col-xs-1 h4"><a href="#" class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Variable" value="crystalSkulls" /></div>
								<div class="col-xs-3">
								<select class="form-control">
									<option>set to</option>
									<option>set to opposite</option>
									<option>increase by</option>
									<option selected>decrease by</option>
									<option>multiply by</option>
									<option>divide by</option>
								</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" value="1" /></div>
							</div>

							<div class="row row-gutter-1x">
								<div class="col-xs-1 h4"><a href="#" class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Variable" /></div>
								<div class="col-xs-3">
								<select class="form-control">
									<option>set to</option>
									<option>set to opposite</option>
									<option>increase by</option>
									<option>decrease by</option>
									<option>multiply by</option>
									<option>divide by</option>
								</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
							</div>

							<div class="row-gutter-1x"><a href="#"><span class="glyphicon glyphicon-plus"></span> Add Another</a></div>

							<p class="quip"><span class="glyphicon glyphicon-arrow-up"></span></p>
						</div><!-- .choiceStoryUpdates -->
					</div>

					<div class="choiceContainer">
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">6</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Place the skull onto the pedestal." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink" data-choices="3">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#"><span class="glyphicon glyphicon-book"></span> <span class="badge">2</span></a>
						</div>
					</div>
					<hr />
					<hr />
					</div>
					<!-- TODO: end of static example code -->


					<p class="h3 row-gutter-1x"><a ng-click="new_choice(passage)"><span class="glyphicon glyphicon-plus-sign"></span> Add Choice</a></p>
				</div><!-- .passageChoices -->
			</div>
		</div><!-- .passageExits -->
	</div><!-- .passage -->
</div><!-- .scrollable -->
</div><!-- .paneSplit -->


<div class="paneSplit paneRight">
	<div class="pane theme-alt panePassages">
		<p class="paneToggle"><label for="paneRightToggle"><span class="glyphicon glyphicon-chevron-left"></span></label></p>

		<div class="pickingMessage">
			<h3>Choose a passage to link <span class="glyphicon glyphicon-arrow-right"></span></h3>
			<h3><a ng-click="pick_passage(null)"><span class="glyphicon glyphicon-remove-sign"></span> Cancel</a></h3>
		</div>

		<h2>Passages</h2>

		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input ng-model="passage_search" type="text" class="form-control" placeholder="Filter Passages">
			<span class="input-group-extra"><a ng-click="clear_passage_search()"><span class="glyphicon glyphicon-remove"></span></a></span>
		</div>

		<div class="scrollable">
			<ul class="list-unstyled list-passages">
				<li ng-repeat="passage in story.passages | filter:passage_search">
					<a ng-click="edit_passage(passage.id)" class="truncated">
						<span class="badge" data-choices="{{ passage.choices.length }}">P{{ passage.number }}</span>
						<!-- TODO: may indicate this some other way? -->
						<span ng-show="passage.opening" class="label label-success">Opening</span>
						"{{ passage.get_content() | truncate }}"
					</a>
				</li>
			</ul>
		</div><!-- .scrollable -->
	</div><!-- .panePassages -->
</div><!-- .paneSplit -->


</div><!-- .wrapInner -->
</div><!-- .wrap -->

