	<div class="passage-container exit-tabs">
		<ul class="nav nav-tabs nav-justified ng-class:'ending-'+passage.ending_type_name()">
			<li ng-class="{active: passage.exit_type == 'ending'}"><a ng-click="confirm_exit_type_change(passage, 'ending')">Set as Ending</a></li>
			<li ng-class="{active: passage.exit_type == 'append'}"><a ng-click="confirm_exit_type_change(passage, 'append')">Append a Passage</a></li>
			<li ng-class="{active: passage.exit_type == 'choices'}"><a ng-click="confirm_exit_type_change(passage, 'choices')">Add Choices</a></li>
		</ul>
	</div>

	<div class="passage-container passage-box ng-class:'ending-'+passage.ending_type_name()">
		<div class="passageExits">
			<div class="tab-content">
				<div class="tab-pane passageEnding ng-class:{active: passage.exit_type == 'ending'}" id="passageEnding">
					<div class="btn-toolbar">
						<div class="btn-group btn-group-justified btn-group-lg">
							<a ng-click="passage.set_ending(-2)" class="btn btn-default btn-terrible ng-class:{active: passage.ending_value === -2}">Terrible</a>
							<a ng-click="passage.set_ending(-1)" class="btn btn-default btn-bad ng-class:{active: passage.ending_value === -1}">Bad</a>
							<a ng-click="passage.set_ending(0)" class="btn btn-default btn-neutral ng-class:{active: passage.ending_value === 0}">Neutral</a>
							<a ng-click="passage.set_ending(1)" class="btn btn-default btn-good ng-class:{active: passage.ending_value === 1}">Good</a>
							<a ng-click="passage.set_ending(2)" class="btn btn-default btn-great ng-class:{active: passage.ending_value === 2}">Great</a>
						</div>
					</div>
				</div><!-- .passageEnding -->


				<div class="tab-pane passageAppend ng-class:{active: passage.exit_type == 'append'}" id="passageAppend">
					<p ng-if="!passage.has_append()" class="h4 text-center"><a ng-click="new_passage(passage.append_link)"><span class="glyphicon glyphicon-link"></span> New passage</a></p>
					<p ng-if="!passage.has_append()" class="h4 text-center"><a ng-click="pick_passage(passage.append_link)"><span class="glyphicon glyphicon-link"></span> Existing passage</a></p>

					<!-- TODO: this multiple paths per choice thing might go away... it is not something we're supporting right now -->
					<div ng-if="passage.has_append()" ng-repeat="path in passage.append_link.paths">
						<div ng-if="path.destination" class="choicePassage">
							<a class="choicePassageUnlink icon-subtle" ng-click="passage.append_link.set_destination(null)"><span class="glyphicon glyphicon-remove-circle"></span></a>

							<a class="truncated" ng-click="edit_passage(path.destination)">{{ get_passage(path.destination).get_content() | truncate | quote }}</a>

							<a ng-click="edit_passage(path.destination)"><span class="passageLink" passage-icons="get_passage(path.destination)">P{{ get_passage(path.destination).number }}</span></a>
						</div>
					</div>
				</div><!-- .passageAppend -->


				<!--
				 .d8888b. 888             d8b                         
				d88P  Y88b888             Y8P                         
				888    888888                                         
				888       88888b.  .d88b. 888 .d8888b .d88b. .d8888b  
				888       888 "88bd88""88b888d88P"   d8P  Y8b88K      
				888    888888  888888  888888888     88888888"Y8888b. 
				Y88b  d88P888  888Y88..88P888Y88b.   Y8b.         X88 
				 "Y8888P" 888  888 "Y88P" 888 "Y8888P "Y8888  88888P' 
				-->
				<div class="tab-pane passageChoices ng-class:{active: passage.exit_type == 'choices'}" id="passageChoices">

					<!-- TODO: choices probably need a drag+drop handle for sortable behavior -->
					<div ng-repeat="choice in passage.choices" class="choiceContainer">
						<div class="choiceDisplayConditions" ng-show="choice.showConditions">
							<p><strong>Display choice if:</strong></p>

							<div class="row">
								<div class="col-xs-1 h4"><a class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
								<div class="col-xs-3">
								<select class="form-control">
									<option>equals</option>
									<option>does not equal</option>
									<option>greater than</option>
									<option>less than</option>
									<option>greater or equal to</option>
									<option>less or equal to</option>
								</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
							</div>

							<p class="quip"><span class="glyphicon glyphicon-arrow-down"></span></p>
						</div><!-- .choiceDisplayConditions -->

						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" confirm-click="delete_choice(passage, choice)" confirm-message="Delete choice?"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">{{ $index + 1 }}</span>
						</div>

						<div class="col-xs-9">
							<p><input ng-model="choice.content" type="text" class="form-control" placeholder="Write your choice content here." value="" /></p>

							<!-- Neither of these can happen right now because there is a UI overlay blocking the user from clicking this... but they are still a good theorhetical questions: -->
									<!-- TODO: Potentially buggy scenario with picking mode... user has N unfinished choices, and they click "Existing Passage" for one of them, and then also clicks "Existing Passage" for a different one of them before making a selection for the first... -->
									<!-- TODO: what happens if you click "Existing Passage" and then immediately pick "New Passage"?? -->
							<p ng-if="!choice.has_destination()" class="choicePassageMenu"><a ng-click="new_passage(choice)"><span class="glyphicon glyphicon-link"></span> New passage</a> <a ng-click="pick_passage(choice)"><span class="glyphicon glyphicon-link"></span> Existing passage</a></p>

							<!-- TODO: this multiple paths per choice thing might go away... it is not something we're supporting right now -->
							<div ng-if="choice.has_destination()" ng-repeat="path in choice.paths">
								<div ng-if="path.destination" class="choicePassage">
									<a class="choicePassageUnlink icon-subtle" ng-click="choice.set_destination(null)"><span class="glyphicon glyphicon-remove-circle"></span></a>

									<a class="truncated" ng-click="edit_passage(path.destination)">{{ get_passage(path.destination).get_content() | truncate | quote }}</a>

									<a ng-click="edit_passage(path.destination)"><span class="passageLink" passage-icons="get_passage(path.destination)">P{{ get_passage(path.destination).number }}</span></a>
								</div>
							</div>
						</div>

						<!-- TODO: need to add support for showing collapsed pre/post logic sections -->
						<div class="col-xs-1 choiceLogic h4">
							<a ng-click="choice.showConditions = !choice.showConditions" ng-class="{active: choice.showConditions}"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a ng-click="choice.showUpdates = !choice.showUpdates" ng-class="{active: choice.showUpdates}"><span class="glyphicon glyphicon-cog"></span></a>
						</div>

						<div class="choiceStoryUpdates" ng-show="choice.showUpdates">
							<p><strong>When choice selected, update story:</strong></p>

							<div class="row row-gutter-1x">
								<div class="col-xs-1 h4"><a class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Variable" /></div>
								<div class="col-xs-3">
								<select class="form-control">
									<option>set to</option>
									<option>set to opposite</option>
									<option>increase by</option>
									<option>decrease by</option>
									<option>multiply by</option>
									<option>divide by</option>
								</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
							</div>

							<div class="row-gutter-1x"><a><span class="glyphicon glyphicon-plus"></span> Add Another</a></div>

							<p class="quip"><span class="glyphicon glyphicon-arrow-up"></span></p>
						</div><!-- .choiceStoryUpdates -->
					</div>



					<!-- TODO: static example code just here for reference until I integrate all this -->
					<div ng-show="false">
					<hr />
					<hr />
					<div class="choiceContainer">
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">2</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Take the road to the left." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink" data-choices="4">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#" class=""><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#"><span class="glyphicon glyphicon-book"></span></a>
						</div>
					</div>

					<div class="choiceContainer">
						<div class="choiceDisplayConditions">
							<p><strong>Display choice if:</strong></p>

							<div class="row">
								<div class="col-xs-1 h4"><a href="#" class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
								<div class="col-xs-3">
								<select class="form-control">
									<option>equals</option>
									<option>does not equal</option>
									<option>greater than</option>
									<option>less than</option>
								</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
							</div>

							<p class="quip"><span class="glyphicon glyphicon-arrow-down"></span></p>
						</div><!-- .choiceDisplayConditions -->
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">3</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Place the skull onto the pedestal." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#" class="active"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#"><span class="glyphicon glyphicon-book"></span></a>
						</div>
					</div>

					<div class="choiceContainer">
						<div class="choiceDisplayConditions dcCollapsedSet">
							<p>Display choice if <var>crystalSkulls</var> <em>greater than</em> <var>0</var></p>

							<p class="quip"><span class="glyphicon glyphicon-arrow-down"></span></p>
						</div><!-- .choiceDisplayConditions -->
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">4</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Place the skull onto the pedestal." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink" data-choices="6">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#"><span class="glyphicon glyphicon-book"></span></a>
						</div>
					</div>

					<div class="choiceContainer">
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">5</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Place the skull onto the pedestal." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink" data-choices="8">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#" class="active"><span class="glyphicon glyphicon-book"></span></a>
						</div>
						<div class="choiceStoryUpdates">
							<p><strong>When choice selected, update story:</strong></p>

							<div class="row">
								<div class="col-xs-1 h4"><a href="#" class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Variable" value="crystalSkulls" /></div>
								<div class="col-xs-3">
								<select class="form-control">
									<option>set to</option>
									<option>set to opposite</option>
									<option>increase by</option>
									<option selected>decrease by</option>
									<option>multiply by</option>
									<option>divide by</option>
								</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" value="1" /></div>
							</div>

							<div class="row row-gutter-1x">
								<div class="col-xs-1 h4"><a href="#" class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Variable" /></div>
								<div class="col-xs-3">
								<select class="form-control">
									<option>set to</option>
									<option>set to opposite</option>
									<option>increase by</option>
									<option>decrease by</option>
									<option>multiply by</option>
									<option>divide by</option>
								</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" placeholder="Value" /></div>
							</div>

							<div class="row-gutter-1x"><a href="#"><span class="glyphicon glyphicon-plus"></span> Add Another</a></div>

							<p class="quip"><span class="glyphicon glyphicon-arrow-up"></span></p>
						</div><!-- .choiceStoryUpdates -->
					</div>

					<div class="choiceContainer">
						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">6</span>
						</div>
						<div class="col-xs-9">
							<p><input type="text" class="form-control" placeholder="Write your choice content here." value="Place the skull onto the pedestal." /></p>

							<p class="choicePassage"><a class="choicePassageUnlink icon-subtle" href="#"><span class="glyphicon glyphicon-remove-circle"></span></a> <a href="#">"Lorem ipsum this is the text of passage 45&hellip;" <span class="passageLink" data-choices="3">P45</span></a></p>
						</div>
						<div class="col-xs-1 choiceLogic h4">
							<a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a href="#"><span class="glyphicon glyphicon-book"></span> <span class="badge">2</span></a>
						</div>
					</div>
					<hr />
					<hr />
					</div>
					<!-- TODO: end of static example code -->


					<p class="h3 row-gutter-1x"><a ng-click="new_choice(passage)"><span class="glyphicon glyphicon-plus-sign"></span> Add Choice</a></p>
				</div><!-- .passageChoices -->
			</div>
		</div><!-- .passageExits -->
	</div><!-- .passage-box -->