	<div class="passage-container exit-tabs">
		<ul class="nav nav-tabs nav-justified ng-class:'ending-'+passage.ending_type_name()">
			<li ng-class="{active: passage.exit_type == 'ending'}"><a ng-click="confirm_exit_type_change(passage, 'ending')">Set as Ending</a></li>
			<li ng-class="{active: passage.exit_type == 'append'}"><a ng-click="confirm_exit_type_change(passage, 'append')">Append a Passage</a></li>
			<li ng-class="{active: passage.exit_type == 'choices'}"><a ng-click="confirm_exit_type_change(passage, 'choices')">Add Choices</a></li>
		</ul>
	</div>

	<div class="passage-container passage-box ng-class:'ending-'+passage.ending_type_name()">
		<div class="passageExits">
			<div class="tab-content">
				<div class="tab-pane passageEnding ng-class:{active: passage.exit_type == 'ending'}" id="passageEnding">
					<div class="btn-toolbar">
						<div class="btn-group btn-group-justified btn-group-lg">
							<a ng-click="passage.set_ending(-2)" class="btn btn-default btn-terrible ng-class:{active: passage.ending_value === -2}">Terrible</a>
							<a ng-click="passage.set_ending(-1)" class="btn btn-default btn-bad ng-class:{active: passage.ending_value === -1}">Bad</a>
							<a ng-click="passage.set_ending(0)" class="btn btn-default btn-neutral ng-class:{active: passage.ending_value === 0}">Neutral</a>
							<a ng-click="passage.set_ending(1)" class="btn btn-default btn-good ng-class:{active: passage.ending_value === 1}">Good</a>
							<a ng-click="passage.set_ending(2)" class="btn btn-default btn-great ng-class:{active: passage.ending_value === 2}">Great</a>
						</div>
					</div>
				</div><!-- .passageEnding -->


				<div class="tab-pane passageAppend ng-class:{active: passage.exit_type == 'append'}" id="passageAppend">
					<p ng-if="!passage.has_append()" class="h4 text-center"><a ng-click="new_passage(passage.append_link)"><span class="glyphicon glyphicon-link"></span> New passage</a></p>
					<p ng-if="!passage.has_append()" class="h4 text-center"><a ng-click="pick_passage(passage.append_link)"><span class="glyphicon glyphicon-link"></span> Existing passage</a></p>

					<div ng-if="passage.has_append()">
						<div ng-if="passage.append_link.destination" class="choicePassage">
							<a class="choicePassageUnlink icon-subtle" ng-click="passage.append_link.set_destination(null)"><span class="glyphicon glyphicon-remove-circle"></span></a>

							<a class="truncated" ng-click="edit_passage(passage.append_link.destination)">{{ get_passage(passage.append_link.destination).get_content() | truncate | quote }}</a>

							<a ng-click="edit_passage(passage.append_link.destination)"><span class="passageLink" passage-icons="get_passage(passage.append_link.destination)">P{{ get_passage(passage.append_link.destination).number }}</span></a>
						</div>
					</div>
				</div><!-- .passageAppend -->


				<!--
				 .d8888b. 888             d8b                         
				d88P  Y88b888             Y8P                         
				888    888888                                         
				888       88888b.  .d88b. 888 .d8888b .d88b. .d8888b  
				888       888 "88bd88""88b888d88P"   d8P  Y8b88K      
				888    888888  888888  888888888     88888888"Y8888b. 
				Y88b  d88P888  888Y88..88P888Y88b.   Y8b.         X88 
				 "Y8888P" 888  888 "Y88P" 888 "Y8888P "Y8888  88888P' 
				-->
				<div class="tab-pane passageChoices ng-class:{active: passage.exit_type == 'choices'}" id="passageChoices">

					<!-- TODO: choices probably need a drag+drop handle for sortable behavior -->
					<div ng-repeat="choice in passage.choices" class="choiceContainer fade-animation">
						<div class="choiceDisplayConditions" ng-show="choice.showCondition">
							<p><strong>Display choice if:</strong></p>

							<div class="row">
								<div class="col-xs-1 h4"><a class="icon-subtle" ng-click="delete_choice_condition(choice)"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" ng-model="choice.condition.variable" placeholder="Value" /></div>
								<div class="col-xs-3">
									<select class="form-control" ng-model="choice.condition.verb" ng-options="o.keyword as o.name for o in operators.conditions">
										<option value="">---</option>
									</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" ng-model="choice.condition.value" placeholder="Value" /></div>
							</div>

							<p class="quip"><span class="glyphicon glyphicon-arrow-down"></span></p>
						</div><!-- .choiceDisplayConditions -->

						<div class="col-xs-2 choiceUtil icon-subtler">
							<a class="h3" confirm-click="delete_choice(passage, choice)" confirm-message="Delete choice?"><span class="glyphicon glyphicon-minus-sign"></span></a>
							<span class="choiceNumber">{{ $index + 1 }}</span>
						</div>

						<div class="col-xs-9">
							<p><input ng-model="choice.content" type="text" class="form-control" placeholder="Write your choice content here." value="" /></p>

							<!-- Neither of these can happen right now because there is a UI overlay blocking the user from clicking this... but they are still a good theorhetical questions: -->
									<!-- TODO: Potentially buggy scenario with picking mode... user has N unfinished choices, and they click "Existing Passage" for one of them, and then also clicks "Existing Passage" for a different one of them before making a selection for the first... -->
									<!-- TODO: what happens if you click "Existing Passage" and then immediately pick "New Passage"?? -->
							<p ng-if="!choice.has_destination()" class="choicePassageMenu">
								<a ng-click="new_passage(choice)"><span class="glyphicon glyphicon-plus"></span> New passage</a> 
								<a ng-click="pick_passage(choice)"><span class="glyphicon glyphicon-link"></span> Existing passage</a>
							</p>

							<p ng-if="choice.has_destination()" class="choicePassageMenu">
								<a ng-click="new_passage(choice)"><span class="glyphicon glyphicon-plus"></span> New passage</a> 
								<a ng-click="pick_passage(choice)"><span class="glyphicon glyphicon-link"></span> Change passage</a>
							</p>

							<div ng-if="choice.has_destination()">
								<div ng-if="choice.destination" class="choicePassage">

									<a class="truncated" ng-click="edit_passage(choice.destination)">{{ get_passage(choice.destination).get_content() | truncate | quote }}</a>

									<a ng-click="edit_passage(choice.destination)"><span class="passageLink" passage-icons="get_passage(choice.destination)">P{{ get_passage(choice.destination).number }}</span></a>
								</div>
							</div>
						</div>

						<div class="col-xs-1 choiceLogic h4">
							<a ng-click="choice.showCondition = !choice.showCondition" ng-class="{active: choice.showCondition}"><span class="glyphicon glyphicon-eye-open"></span></a>
							<a ng-click="choice.showUpdates = !choice.showUpdates" ng-class="{active: choice.showUpdates}"><span class="glyphicon glyphicon-cog"></span></a>
						</div>

						<div class="choiceStoryUpdates" ng-show="choice.showUpdates">
							<p><strong>When choice selected, update story:</strong></p>

							<div class="row row-gutter-1x fade-animation" ng-repeat="update in choice.updates">
								<div class="col-xs-1 h4"><a ng-click="delete_choice_update(choice, update);" class="icon-subtle"><span class="glyphicon glyphicon-remove-circle"></span></a></div>
								<div class="col-xs-4"><input type="text" class="form-control var" ng-model="update.variable" placeholder="Variable" /></div>
								<div class="col-xs-3">
									<select class="form-control" ng-model="update.verb" ng-options="o.keyword as o.name for o in operators.updates">
										<option value="">---</option>
									</select>
								</div>
								<div class="col-xs-4"><input type="text" class="form-control var" ng-model="update.value" placeholder="Value" /></div>
							</div>

							<div class="row row-gutter-1x"><a ng-click="add_choice_update(choice)"><span class="glyphicon glyphicon-plus"></span> Add Another</a></div>

							<p class="quip"><span class="glyphicon glyphicon-arrow-up"></span></p>
						</div><!-- .choiceStoryUpdates -->
					</div>


					<p class="h3 row-gutter-1x"><a ng-click="new_choice(passage)"><span class="glyphicon glyphicon-plus-sign"></span> Add Choice</a></p>
				</div><!-- .passageChoices -->
			</div>
		</div><!-- .passageExits -->
	</div><!-- .passage-box -->


	<div id="exitChangeConfirmModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<h2>Confirm</h2>

				<div class="alert alert-danger"><span class="glyphicon glyphicon-exclamation-sign"></span> <span class="alert_message">{{ exit_change_modal.alert }}</span></div>

				<p class="confirm_message">{{ exit_change_modal.message }}</p>

				<div class="row row-gutter-1x">
					<div class="col-xs-12">
						<p class="pull-right">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							<button id="confirmExit" type="button" class="btn btn-danger" data-dismiss="modal">Proceed</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div><!-- #exitChangeConfirmModal -->
