<ng-include src="'templates/story.html'"></ng-include>

<input ng-model="$parent.show_passages" ng-change="show_story_details = false" class="sr-only paneToggleCheckbox" type="checkbox" id="paneRightToggle" />
<div class="wrap ng-class:{picking: picking, top_open: show_story_details}">
<div class="wrapInner">


<div class="paneSplit">
<div class="scrollable scrollPassages">
	<div class="passage-container passageEntrances">
		<ul class="list-unstyled">
			<li ng-repeat="entrance in story.collect_entrances(passage)" ng-class="{lastActive: (entrance == prev_passage)}" class="unavailable">
				<a disabled>
					<span class="passageBack" passage-icons="entrance">P{{ entrance.number }}</span>
					<div>
						<p class="truncated">{{ entrance.get_content() | truncate | quote }}</p>
						<p ng-if="entrance.get_passage_choice(passage)" class="h4 truncated">{{ entrance.get_passage_choice(passage) | truncate }}</p>
						<p ng-if="entrance.has_append(passage)" class="h4 truncated">Via Append</p>
					</div>
				</a>
			</li>
		</ul>
	</div><!-- .passageEntrances -->

	<div class="passage-container passage-box">
		<div class="passageBody">
			<h2>
				Passage {{ passage.number }}
				<span ng-if="passage.opening" class="label label-success">Start</span>
			</h2>

			<div>{{passage.content}}</div>

			<div ng-if="passage.exit_type == 'append'" class="tab-pane" id="passageAppend">
				<div ng-if="passage.has_append()">
					<div ng-if="passage.append_link.destination" class="choicePassage">
						<a ng-click="select_choice(passage.append_link)"><span class="passageLink" passage-icons="get_passage(passage.append_link.destination)">Continue...</a>
					</div>
				</div>
			</div><!-- .passageAppend -->
		</div><!-- .passageBody -->
	</div><!-- .passage-box -->

	<div ng-if="passage.exit_type != 'append'" class="passage-container passage-box ng-class:'ending-'+passage.ending_type_name()">
		<div class="passageExits">
			<div ng-if="passage.exit_type == 'ending'" class="tab-pane" id="passageEnding">
				<h4>
					The End
					<span ng-if="passage.ending_value === -2" class="btn btn-default btn-terrible">Terrible</span>
					<span ng-if="passage.ending_value === -1" class="btn btn-default btn-bad">Bad</span>
					<span ng-if="passage.ending_value === 0" class="btn btn-default btn-neutral">Neutral</span>
					<span ng-if="passage.ending_value === 1" class="btn btn-default btn-good">Good</span>
					<span ng-if="passage.ending_value === 2" class="btn btn-default btn-great">Great</span>
				</h4>
			</div><!-- .passageEnding -->


			<div ng-if="passage.exit_type == 'choices'" class="tab-pane passageChoices" id="passageChoices">
				<div ng-repeat="choice in passage.choices" ng-init="choiceNumber = $index + 1" class="choiceContainer row" ng-class="{unavailable: choice.hidden}">
					<div class="col-xs-2">
						<a class="btn btn-lg btn-primary btn-block" ng-disabled="!choice.has_destination() || choice.hidden" ng-click="select_choice(choice)">
							<span class="choiceNumber">{{ choiceNumber }}</span>
						</a>
					</div>
					<div class="col-xs-10">
						<p>{{choice.content}}</p>
					</div>
				</div><!-- .choiceContainer -->
			</div><!-- .passageChoices -->

		</div><!-- .passageExits -->
	</div><!-- .passage-box -->

	<div class="scroll_fix"></div>
</div><!-- .scrollable -->
</div><!-- .paneSplit -->

<div class="paneSplit paneRight">
	<div class="pane theme-alt panePassages">
		<p class="paneToggle"><label for="paneRightToggle"><span class="glyphicon glyphicon-chevron-left"></span></label></p>

		<h2>Passages</h2>

		<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input ng-model="passage_search" type="text" class="form-control" placeholder="Filter Passages">
			<span class="input-group-extra"><a ng-click="clear_passage_search()"><span class="glyphicon glyphicon-remove"></span></a></span>
		</div>

		<div class="scrollable">
			<ul class="list-unstyled list-passages">
				<li ng-repeat="p in story.passages | filter:passage_search">
					<a ng-click="select_passage(p)" class="truncated">
						<span class="badge" passage-icons="p">P{{ p.number }}</span>
						<span ng-if="p.opening" class="label label-success">Start</span>
						{{ p.get_content() | truncate | quote }}
					</a>
				</li>
			</ul>

			<div class="scroll_fix"></div>
		</div><!-- .scrollable -->
	</div><!-- .panePassages -->
</div><!-- .paneSplit -->

</div><!-- .wrapInner -->
</div><!-- .wrap -->

