<div class="menuTop theme-inverse storyMenu">
	<div class="topBar">
		<p class="h4 pull-left">ChoiceWright</p>
		<p class="h5 pull-right" ng-include="'templates/profile-picker.html'"></p>
	</div>

	<ul class="list-inline list-icon-menu h4">
		<li><a ng-click="new_story()"><span class="glyphicon glyphicon-plus"></span> New Story</a></li>
		<!-- TODO: import throws a JS error if you don't type valid values into the modal's form fields -->
		<li class="dropdown" ng-show="translators">
			<a data-toggle="dropdown"><span class="glyphicon glyphicon-cloud-upload"></span> Import Story</a>
			<ul class="dropdown-menu">
				<li ng-repeat="importer in translators | filter:importer.imports">
					<a ng-click="import_story(importer.type)">{{importer.importMenuTitle}}</a>
				</li>
			</ul>
		</li>
	</ul>
</div>

<div class="theme-alt wrap">
	<div class="container storiesListMenu">
		<ul class="list-inline">
			<li><strong>Sort:</strong></li>
			<li><a ng-click="sort_stories('title')"><span class="glyphicon glyphicon-font"></span><span class="glyphicon ng-class:{'glyphicon-arrow-down': (stories_sort == 'title' && !stories_sort_desc), 'glyphicon-arrow-up': (stories_sort == 'title' && stories_sort_desc)}"></span></a></li>
			<li><a ng-click="sort_stories('created')"><span class="glyphicon glyphicon-time"></span><span class="glyphicon ng-class:{'glyphicon-arrow-down': (stories_sort == 'created' && !stories_sort_desc), 'glyphicon-arrow-up': (stories_sort == 'created' && stories_sort_desc)}"></span></a></li>
		</ul>
	</div><!-- .container -->

	<div class="scrollable">
		<div class="container">
			<div class="row storiesList">
				<ul class="list-unstyled">
					<li ng-repeat="s in stories | orderBy:stories_sort:stories_sort_desc" class="col-md-4 col-sm-6 fade-animation"><div>
						<h3><a ng-click="edit_story(s)">{{ s.get_title() }}</a></h3>

						<ul class="list-unstyled">
							<li><span class="glyphicon glyphicon-time"></span> {{ s.created | date }}</li>
							<li><strong>By:</strong> {{ s.author || 'Author' }}</li>
							<li><strong>Genre:</strong> {{ s.genre || 'Genre' }}</li>
						</ul>

						<p>{{ s.description || 'Description' }}</p>

						<ul class="list-inline list-icon-menu">
							<li>
								<span class="dropdown">
									<a href="" data-toggle="dropdown" class="icon-subtle"><span class="glyphicon glyphicon-cloud-download"></span> Export</a>

									<ul class="dropdown-menu">
										<li ng-repeat="exporter in translators | filter:exporter.exports">
											<a ng-click="export_story(exporter.type, s)">{{exporter.exportMenuTitle}}</a>
										</li>
									</ul>
								</span>
							</li>
							<!-- TODO: create support for duplicate -->
							<li><a class="icon-subtle"><span class="glyphicon glyphicon-share"></span> Duplicate</a></li>
							<li><a confirm-click="delete_story(s)" confirm-message="Delete story?" class="icon-subtle"><span class="glyphicon glyphicon-trash"></span></span> Delete</li>
						</ul>
					</div></li>
				</ul>
			</div><!-- .storiesList -->
		</div><!-- .container -->
	</div><!-- .scrollable -->
</div><!-- .wrap -->
