<p ng-show="vm.error">{{ vm.error.message }}</p>
<p ng-show="vn.info">{{ vm.info.message }}</p>

<form class="form" ng-show="vm.remoteState == 'idle'">
	<div class="form-group">
		<input ng-model="vm.profile.cloudUser" placeholder="Email">
	</div>
	<div class="form-group">
		<input ng-model="vm.password" placeholder="Password" type="password">
	</div>

	<button type="submit" class="btn btn-primary" ng-click="vm.loginToCloud()">Login</button>

	<button type="submit" class="btn btn-secondary" ng-click="vm.registerInCloud()">Create account</button>
</form>
