<div class="form" ng-show="vm.remoteState == 'idle'">
	<p ng-show="vm.error">{{ vm.error.message }}</p>

	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><span class="fa fa-envelope"></span></span>
			<input class="form-control" ng-model="vm.profile.cloud.username" placeholder="Email">
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><span class="fa fa-certificate"></span></span>
			<input class="form-control" ng-model="vm.password" placeholder="Password" type="password">
		</div>
	</div>

	<button class="btn btn-primary" ng-click="vm.loginToCloud()"><span class="fa fa-key"></span> Login</button>
	<button class="btn btn-success" ng-click="vm.registerInCloud()"><span class="fa fa-plus"></span> Create account</button>
	<button class="btn btn-link" ng-click="vm.openCloudAuth = false">Cancel</button>

</div>

<div ng-show="vm.remoteState == 'working'">
	<p>Talking to the clouds...</p>
</div>

<div ng-show="vm.remoteState == 'success'">
	<p>{{vm.info.message}}</p>
	<button class="btn btn-success" ng-click="vm.openCloudAuth = false">Continue</button>
</div>
